.album {
  list-style: none;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.loadingEmptyBox {
  min-height: 100vh;
}

.item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  padding: 3px;
  margin-bottom: 3px;
  transition: all 0.3s ease-out;
  scroll-snap-align: start;
}

.item:hover {
  box-shadow: 2px 2px 6px #666;
}

.link {
  display: block;
  width: var(--thumb-width);
  max-width: var(--thumb-width);
}

.title {
  min-height: 1.1em;
}
