.footer {
  display: flex;
  font-size: 11px;
  margin: 6px 6px 24px 0;
  border-top: 1px solid #0bf;
  padding: 3px 6px 6px 3px;
}

.info {
  max-width: 50%;
}

.actions {
  width: 50%;
  text-align: right;
}
