/* Reset some sane defaults for web content. Taken from Chrome's User Agent defaults. */
.item {
  clear: both;
  zoom: 0.75;
  margin-right: 32px;
  flex: 0 1;
  max-height: 90vh;
  min-width: 34vw;
  overflow-y: scroll;
  padding: 6px;
  padding-bottom: 0;
  margin-bottom: 32px;
  box-shadow: 1px 1px 2px #ccc;
  transition: box-shadow 100ms;
}

.item:hover {
  box-shadow: 1px 1px 2px #999;
}

.item p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.item ul,
.item ol,
.item blockquote {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.item blockquote {
  border: 1px solid #666;
}

.item a {
  word-break: break-word;
}

.item pre {
  white-space: pre-wrap;
  word-break: break-word;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item iframe {
  border: 0;
  max-width: 100%;
}
