/* Reset some sane defaults for web content. Taken from Chrome's User Agent defaults. */

.item p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.item ul,
.item ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.item img {
  max-width: 100%;
}
