.remoteUsers li {
  display: flex;
  border: 1px solid transparent;
  padding: 1px 4px;
  margin-bottom: 1px;
  cursor: pointer;
}

.remoteUsers .readAll {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 6px 0;
  padding-left: 26px; /* TODO(mime): should be constant, img width + padding */
}

.remoteUsers li:hover,
.remoteUsers li.selected {
  border: 1px solid hotpink;
}

.remoteUsers li.selected {
  font-weight: bold;
}

.remoteUsers img {
  width: 16px;
  max-height: 16px;
  vertical-align: text-top;
  margin: 0 5px 0 1px;
}

.remoteUsers a {
  flex: 1;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.remoteUsers a:hover {
  text-decoration: none;
}

.search {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 0px 3px;
  border-radius: 3px;
  height: 19px;
  line-height: normal;
}

.unreadCount {
  line-height: 24px;
  max-width: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}

.unreadCount:before {
  content: '(';
}
.unreadCount:after {
  content: ')';
}

.remoteUsers button,
.remoteUsers li:hover .unreadCount {
  display: none;
}

.remoteUsers li:hover button {
  display: inline-block;
}

html .menu {
  padding: 0;
}
