.remoteUsers li {
  border: 1px solid transparent;
  padding: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}

.remoteUsers li:hover,
.remoteUsers li.selected {
  border: 1px solid hotpink;
}

.remoteUsers li.selected {
  font-weight: bold;
}

.remoteUsers img {
  width: 16px;
  max-height: 16px;
  vertical-align: text-top;
  margin: 0 5px 0 1px;
}

.remoteUsers a {
  width: calc(100% - 36px);
  height: 20px;
  line-height: 20px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.remoteUsers a:hover {
  text-decoration: none;
}

.unreadCount {
  float: right;
  line-height: 20px;
  max-width: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}

.unreadCount:before {
  content: '(';
}
.unreadCount:after {
  content: ')';
}
