{
  "presets": ["react-app"],
  "plugins": [
    "module:react-intl-wrapper",
    [
      "react-intl",
      {
        "additionalComponentNames": ["F"],
        "moduleSourceName": "react-intl-wrapper"
      }
    ]
  ]
}
