[submodule "packages/tornado-project"]
	path = packages/tornado-project
	url = git://github.com/facebook/tornado.git
[submodule "static/js/pixastic"]
	path = static/js/pixastic
	url = git://github.com/mimecuvalo/pixastic.git
