/* Pixel theme for Hello, world.
 *
 * theme: pixel (http://nightlight.ws)
 * designed_by: nightlight (http://nightlight.ws)
 *
 * color:Background:#fff
 * font:Body:Courier New, monospace
 * image:Background:
 * if:Show Logo:1
 * text:Easter Egg:OMGWTFBBQ
 *
 * extra_head_html: """<!--
   design by:

     _  *  _  |_ -|- | *  _  |_ -|-
    | | | |_| | | |  | | |_| | | |
           _|             _|

-->"""
 * extra_body_end_html: """<!--
    this is the way the web ends
    this is the way the web ends
    this is the way the web ends
    not with a bang but with a OMGWTFBBQ
-->"""
 *
 * */

body,
button,
input,
select,
option {
  font: 13px Courier New, monospace;
}

body {
  background-color: #fff;
  background-image: url() repeat fixed 0 0 transparent;
}

#hw-header {
  display: none;
}
#hw-content {
  top: 6px;
}
#hw-logo {
  
}

.hw-button,
.hw-button:visited {
  padding: 0 7px;
  background-color: #eff;
  border: 1px solid #0c0;
  color: #060;
  -moz-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button:hover {
  border: 1px solid #090;
  color: #060;
  -moz-box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

.hw-button-save,
.hw-button-save:visited,
.hw-last,
.hw-last:visited,
#hw-dashboard,
#hw-dashboard:visited,
#hw-follow,
#hw-follow:visited {
  background-color: #eff;
  border: 1px solid #0cf;
  color: #06f;
  -moz-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button-save:hover,
.hw-last:hover,
#hw-dashboard:hover,
#hw-follow:hover {
  border: 1px solid #09f;
  color: #06f;
  -moz-box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button-media,
.hw-button-media:visited,
.hw-next,
.hw-next:visited,
.hw-image-crop,
.hw-image-crop:visited {
  background-color: #ffe;
  border: 1px solid #f90;
  color: #f30;
  -moz-box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button-media:hover,
.hw-next:hover,
.hw-image-crop:hover {
  border: 1px solid #f60;
  color: #f30;
  -moz-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button-delete,
.hw-button-delete:visited,
.hw-button-logout,
.hw-button-logout:visited,
.hw-previous,
.hw-previous:visited {
  background-color: #fcfcfc;
  border: 1px solid #f60;
  color: #f30;
  -moz-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button-delete:hover,
.hw-button-logout:hover,
.hw-previous:hover {
  border: 1px solid #f30;
  color: #f30;
  -moz-box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-start,
.hw-start:visited {
  background-color: #fef;
  border: 1px solid #c0f;
  color: #90f;
  -moz-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-start:hover {
  border: 1px solid #90f;
  color: #90f;
  -moz-box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -webkit-box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -o-box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  -ms-box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
  box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button.hw-selected,
.hw-button:active,
.hw-button[disabled] {
  -moz-box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  -webkit-box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  -o-box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  -ms-box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  margin-top: 3px;
  margin-left: 6px;
  margin-right: 0;
  margin-bottom: 3px;
}

#hw-sitemap,
#hw-setup-form,
#hw-customize .hw-fields {
  border: 1px solid #0cf;
  -moz-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
  -webkit-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
  -o-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
  -ms-box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
  box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
}

.hw-media-library-standalone,
#hw-followers,
div.hw-media-creator {
  border: 1px solid #fa0;
  -moz-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -webkit-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -o-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -ms-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
}

#hw-following,
.hw-comment-help,
.hw-help,
.hw-options {
  border: 1px solid #0c0;
  -moz-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -webkit-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -o-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -ms-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
}

#hw-tools {
  border: 1px solid #f60;
  -moz-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60;
  -webkit-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60;
  -o-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60;
  -ms-box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60;
  box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60;
}

#hw-navigation {
  border: 1px solid #c0f;
  -moz-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f;
  -webkit-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f;
  -o-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f;
  -ms-box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f;
  box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f;
}

.hw-comment-input,
.hw-image-editor {
  border: 1px solid #000;
  -moz-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
  -webkit-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
  -o-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
  -ms-box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

#hw-content > header,
#hw-content > section > header {
  border: 1px solid #fa0;
  -moz-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -webkit-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -o-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  -ms-box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
  box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
}

span[data-tooltip]:hover:after {
  right: 0;
  border: 1px solid #0c0;
  -moz-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -webkit-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -o-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  -ms-box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
  box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0;
}
