.commentEditorWrapper {
  display: flex;
  flex-direction: column;
}

.comment,
.favorite {
  display: flex;
  margin-bottom: 10px;
  clear: both;
  font-size: 11px;
}

.commentsHeader {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
  margin-bottom: 10px;
  font-weight: 500;
}

.comments {
  margin-top: 10px;
}

.avatar {
  max-width: 32px;
  max-height: 32px;
  margin: 0 10px 0 0;
}

.author {
  font-weight: bold;
}
