.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container > header {
  display: none;
}

.articleNavContainer {
  display: flex;
  align-items: flex-start;
}

.content {
  margin: var(--app-margin);
  padding: 0 3px 10px 3px;
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  .content {
    width: auto;
  }
}

.footer {
  width: 154px;
  margin-left: 6px;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}
