.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container > header {
  display: none;
}

.articleNavContainer {
  display: flex;
  align-items: flex-start;
}

.content {
  margin: var(--app-margin);
  padding: 0 3px 10px 3px;
}

.footer {
  width: 154px;
  margin-left: 6px;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.comment,
.favorite {
  display: flex;
  font-size: 11px;
}

.avatar {
  max-width: 32px;
  max-height: 32px;
  margin: 0 10px 10px 0;
}

.author {
  font-weight: bold;
}
