.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.articleNavContainer {
  display: flex;
  align-items: flex-start;
}

.content {
  margin: 6px;
  padding: 0 3px 10px 3px;
}

.footer {
  width: 154px;
  margin-left: 6px;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}
