.header {
  margin-bottom: 6px;
  padding: 0 6px;
  width: 290px;
}

.title {
  display: flex;
  margin: 3px 3px 3px 0;
}

.titleLink {
  flex: 1;
}

.edit {
  line-height: 14px;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
  padding: 0 7px;
  color: #060;
  align-self: flex-start;
}
