.search {
  --search-header-height: 32px;
}

.search > header {
  display: block;
  position: absolute;
  top: var(--app-margin);
  left: 180px; /* TODO(mime): left value should be based off of sitemap width. */
  height: var(--search-header-height);
}

.list {
  margin-top: calc(var(--app-margin) + var(--search-header-height) + 10px);
  margin-left: 25px;
}

.list > li {
  padding: 7px 0;
  border-top: 1px solid #ccc;
  clear: both;
}

.innerList {
  float: left;
  display: flex;
}

.thumbLink {
  min-height: auto;
  margin-right: 5px;
}

.thumbLink > img {
  min-height: auto;
  max-height: 48px;
}

.preview {
  max-width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clear {
  clear: both;
}

.hidden {
  font-style: italic;
}
