.sitemap {
  margin: 6px;
  width: 155px;
  padding: 6px;
}

.album {
  padding-left: 7px;
}

.selected {
  font-weight: bold;
}

.item {
  word-wrap: break-word;
}

.hidden {
  font-style: italic;
}

.license {
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 10px;
}

.hamburger {
  display: none !important;
}
