.hw-disabled {
  color: #999;
}
.hw-disabled:hover {
  text-decoration: none;
}

.hw-shown {
  opacity: 1;
  height: auto;
  display: block;
}

.hw-hidden-transition {
  transition: opacity 0.3s ease-out;
}

.hw-open {
  height: auto;
}

.hw-closed,
.hw-hidden {
  height: 0 !important;
  width: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  overflow: hidden;
}

.hw-slide-transition {
  transition: height 0.3s ease-out;
}

.hw-invisible {
  opacity: 0;
}

.hw-invisible-transition {
  transition: opacity 0.3s ease-in-out;
}

.hw-invisible-slow-transition {
  transition: opacity 1s ease-in-out;
}

.hw-invisible-reverse-transition {
  transition: opacity 0.2s ease-in-out 5s;
}