html .App-snackbar-icon {
  padding: 5px;
}

.hw-button-link {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: #03c;
  cursor: pointer;
  font-size: inherit;
}

/* In development, highlight untranslated strings. */
.App-is-development * {
  text-shadow: 3px 3px red;
}

.App-is-development .i18n-msg,
.App-is-development .i18n-msg * {
  text-shadow: none;
}
