@import 'sanitize';
@import 'sanitize/forms';
@import 'sanitize/typography';

html:root {
  --app-margin: 6px;
  --thumb-width: 154px;
  --thumb-height: 115px;
}

body {
  font-size: 13px;
  line-height: 1.15;
}

body::backdrop {
  background-color: #fafafa;
}

@media print {
  body {
    background-color: #fff;
  }
}

h1 {
  font-size: initial;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-inline-start: 40px;
}

a,
a:visited {
  color: #06e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure a {
  text-align: center;
  display: block;
}

figcaption {
  text-align: center;
  color: #666;
  font-size: 12px;
}
