/* Title */
.showPlaceholder [data-contents='true'] > [data-block='true']:first-child:before {
  display: block;
}

div.commentType {
  margin-bottom: 4px;
}

div.commentType [data-contents='true'] > [data-block='true']:first-child {
  font-size: unset;
  line-height: unset;
}

/* TODO(mime): too delicate of a rule. */
ul div.commentType > div > div {
  padding: 0;
}
