body {
  margin: 10px;
}

table {
  border : 3px double black;
}

td, th {
  padding: 10px;
  border: 1px solid black;
}

tr {
  transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
}

.good {
  background-color: #0c9;
}

.bad {
  background-color: #f33;
}

.normal {
  transition: background-color 0.2s ease-out 2s;
  -moz-transition: background-color 0.2s ease-out 2s;
  -webkit-transition: background-color 0.2s ease-out 2s;
}
