.hw-shown {
  opacity: 1;
  height: auto;
  display: block;
}

.hw-hidden {
  opacity: 0;
}

.hw-hidden-transition {
  -moz-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.hw-open {
  height: auto;
}

.hw-closed,
.hw-hidden {
  height: 0 !important;
  width: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.hw-slide-transition {
  -moz-transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -ms-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

.hw-all-transition {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hw-invisible {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  zoom: 1;
}

.hw-invisible-transition {
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.hw-invisible-slow-transition {
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.hw-invisible-reverse-transition {
  -moz-transition: opacity 0.2s ease-in-out 5s;
  -webkit-transition: opacity 0.2s ease-in-out 5s;
  -o-transition: opacity 0.2s ease-in-out 5s;
  -ms-transition: opacity 0.2s ease-in-out 5s;
  transition: opacity 0.2s ease-in-out 5s;
}

#hw-preloaded-content {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 5000px;
  overflow: hidden;
}

.hw-placeholder {
  color: gray;
}

.hw-button-group {
  position: relative;
}

.hw-menu-button {
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 0;
  background-color: transparent;
}

.hw-arrow-button {
  display: inline-block;
  border-top: 5px solid #333;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  height: 0;
}

.hw-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 3px 0;
  z-index: 10;
}
.hw-menu.hw-active {
  display: block;
}

.hw-menu a {
  display: block;
  padding: 3px;
  text-align: left;
  min-width: 125px;
}
.hw-menu a:hover {
  background-color: #eef;
  text-decoration: none;
}
