form.hw-create.hw-new,
#hw-container.hw-editing > #hw-content > section > form.hw-create {
  margin-top: 5px;
}
/*#hw-container.hw-editing > #hw-content > section > form.hw-create {
  height: 136px;
}
#hw-container.hw-editing > #hw-content > section > form.hw-create.hw-options-open,
#hw-container.hw-editing > #hw-content > section > form.hw-create.hw-media-library-open,
#hw-container.hw-editing > #hw-content > section > form.hw-create.hw-html-open,
#hw-container.hw-editing > #hw-content > section > form.hw-create.hw-media-open {
  height: auto;
}*/

form.hw-create.hw-media-library-open .hw-playground {
  clear: both;
}

.hw-create-section-wrapper {
  margin-bottom: 5px;
}

input.hw-save[disabled] {
  cursor: wait;
}

span.hw-response {
  margin: 4px 0 3px 9px;
  float: left;
}

span.hw-response.hw-bad {
  color: white;
  background-color: #f33;
}

#hw-delete {
  color: #f33;
}

ul.hw-html-tabs .hw-selected,
a.hw-more-options.hw-selected {
  font-weight: bold;
}

div.hw-options,
div.hw-help {
  height: 235px;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
}
div.hw-options.hw-open,
div.hw-help.hw-open,
.hw-media-wrapper.hw-open {
  margin: 39px 3px 5px 0;
  padding: 10px;
}
.hw-media-list.hw-shown {
  margin: 39px 3px -13px 0;
  padding: 0;
}

div.hw-options dl {
  width: 447px;
}

div.hw-options dl label,
div.hw-options dl select {
  float: left;
  display: block;
}

div.hw-options dt {
  padding: 3px;
  width: 150px;
  vertical-align: top;
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
}
.hw-new div.hw-options dd,
div.hw-options dd {
  width: 288px;
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
}
.hw-new div.hw-options dd input,
div.hw-options dd input {
  display: block;
  float: left;
}

.hw-thumb-preview-wrapper {
  float: right;
}
img.hw-thumb-preview {
  max-width: 175px;
  max-height: 190px;
}

select.hw-section-album option[data-hidden=true] {
  font-style: italic;
}

div.hw-wysiwyg {
  outline: 0;
}

div.hw-wysiwyg.hw-new h1 {
  font-weight: bold;
  font-size: 24px;
}

div.hw-wysiwyg.hw-new {
  min-height: 200px;
  border: 1px solid #333;
  width: 735px;
  -moz-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  -webkit-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  z-index: 2;
  position: relative;
  background-color: white;
}

input.hw-price,
div.hw-events {
  display: none;
}

form.hw-create.hw-template-store input.hw-price {
  display: inline;
  width: 100px;
}
div.hw-events input {
  width: 230px;
}
form.hw-create.hw-template-events div.hw-events {
  display: block;
  margin: 5px 0;
}

#hw-container.hw-editing > #hw-content > section.hw-individual-content > header {
  display: none;
}

#hw-container.hw-editing .hw-read-more {
  display: block;
}

form.hw-create label {
  font-size: 16px;
  color: black;
}
form.hw-create .hw-explanation {
  font-size: 10px;
  color: #666;
}

div.hw-html-wrapper {
  height: 220px;
}
div.hw-html-wrapper {
  margin-right: 3px;
}
div.hw-html-wrapper .hw-hidden {
  display: none;
}

textarea.hw-style,
textarea.hw-code,
textarea.hw-html {
  height: 195px;
  width: 98.6%;
}
ul.hw-html-tabs {
  list-style: none;
  float: left;
  margin-left: 9px;
}
ul.hw-html-tabs li {
  list-style: none;
  padding: 0 7px;
  font-size: 13px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
  cursor: hand;
  cursor: pointer;
  background-color: white;
  color: black;
  -moz-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  -webkit-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
}

.hw-new div.hw-wysiwyg-controls.hw-fixed,
.hw-editing div.hw-wysiwyg-controls.hw-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 650px;
  border-bottom: 1px solid black;
  background-color: white;
}

.hw-new div.hw-wysiwyg-controls.hw-fixed {
  width: 740px;
}

div.hw-wysiwyg-controls {
  padding-top: 10px;
  margin-bottom: -39px; /* -height of toolbar */
}

.hw-editing div.hw-wysiwyg {
  margin-top: 39px;  /* height of the toolbar */
}
.hw-editing.hw-media-open div.hw-wysiwyg {
  margin-top: 0;
}

.hw-editing div.hw-wysiwyg a {
  cursor: hand;
  cursor: pointer;
}

.hw-separate div.hw-view,
.hw-separate div.hw-html-wrapper,
.hw-separate iframe.hw-media-wrapper,
.hw-separate div.hw-wysiwyg-controls,
.hw-separate input.hw-title,
div.hw-created.hw-media-creator > input.hw-media-title {
  display: none;
}
div.hw-created.hw-separate.hw-media-creator > input.hw-media-title {
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
}

div.hw-wysiwyg-controls {
  position: relative;
  z-index: 1;
  height: 29px;
  padding-top: 10px;
}

.hw-new div.hw-wysiwyg-controls {
  text-align: right;
}

div.hw-wysiwyg-controls .hw-button {
  float: right;
}

div.hw-wysiwyg-controls a.hw-media-insert,
div.hw-wysiwyg-controls a.hw-help-button {
  float: left;
}

div.hw-media-list.hw-shown {
  clear: both;
}

div.hw-media-creator,
form.hw-media-library-standalone {
  background-color: #ffe;
  margin: 0;
  padding: 11px 10px 15px;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
  margin: 3px 3px 0 0;
}

button.hw-media-select {
  margin-right: 12px;
}

button.hw-media-delete {
  float: right;
}

iframe.hw-media-creator {
  margin-top: 5px;
}

iframe.hw-media-creator.hw-hidden {
  width: auto !important;
}

iframe.hw-media-wrapper {
  margin-bottom: 16px;
  height: 290px;
}
iframe.hw-media-wrapper.hw-closed {
  display: none;
}

div.hw-media-creator.hw-drag {
  border: 1px solid #000;
}

input.hw-media-title,
input.hw-media-caption,
input.hw-media-source,
input.hw-media-tags {
  border: 0;
  border-bottom: 1px solid black;
  width: 115px;
  background-color: transparent;
}

a.hw-media-preview-wrapper {
  margin-top: -29px;
  margin-right: 1em;
  float: right;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 60px;
  cursor: default;
}
.hw-file a.hw-media-preview-wrapper {
  cursor: hand;
  cursor: pointer;
}
a.hw-media-preview-wrapper span {
  display: none;
  position: absolute;
  top: 35%;
  right: 20%;
  cursor: hand;
  cursor: pointer;
  color: #03c;
  padding: 0 1em;
  background-color: white;
  font-weight: bold;
}
.hw-file a.hw-media-preview-wrapper:hover {
  position: relative;
  text-decoration: none;
}
.hw-file a.hw-media-preview-wrapper:hover span {
  display: block;
}
.hw-file a.hw-media-preview-wrapper:hover img {
  opacity: .7;
}

img.hw-media-preview {
  max-height: 60px;
  max-width: 100px;
  overflow: hidden;
}

span.hw-media-cancel {
  cursor: hand;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

input.hw-media-remote,
input.hw-media-local {
  width: 150px;
  height: 23px;
  vertical-align: top;
}
input.hw-media-local {
  width: 275px;
}
span.hw-media-or {
  margin-top: 3px;
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
}
.hw-created > input.hw-media-file,
.hw-created > input.hw-media-remote {
  width: 400px;
}

div.hw-media-creator > .hw-created {
  display: none;
}
div.hw-media-creator.hw-created > .hw-created {
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
}
div.hw-media-creator.hw-created > .hw-initial {
  display: none;
}
span.hw-media-file-failed {
  background-color: #f33;
  color: #fff;
  padding: 0 0.5em;
  margin-left: 0.5em;
}
div.hw-media-creator.hw-file > input.hw-media-local {
  display: none;
}

progress.hw-media-file-progress {
  width: 100px;
}

input.hw-media-title,
input.hw-media-caption,
input.hw-media-source,
input.hw-media-tags {
  margin-top: 3px;
}

div.hw-anchor-editor,
div.hw-image-options,
div.hw-user-autocomplete {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1000;
  width: 275px;
  border: 1px solid black;
  background-color: white;
  padding: 0 5px 5px 5px;
}
div.hw-image-editor {
  position: absolute;
  top: 36px;
  left: 50%;
  margin-left: -450px;
  padding: 0 10px 10px 10px;
  width: 900px;
  height: 525px;
  background-color: white;
  z-index: 1000;
}
div.hw-image-editor.hw-editing img,
div.hw-image-editor.hw-editing canvas {
  max-width: 650px; /* match upload resizing */
  max-height: 525px;
}
div.hw-image-editor .hw-image-scratch-wrapper {
  float: left;
  width: 650px; /* match upload resizing */
  height: 525px;
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
  border-right: 1px dotted gray;
}
div.hw-image-editor .hw-image-actions {
  float: left;
  clear: right;
  width: 200px;
  padding-left: 6px;
}
div.hw-image-editor .hw-image-actions li {
  list-style-type: none;
  clear: both;
}
div.hw-image-editor .hw-image-close {
  float: right;
}
input[type=range] {
  background: url("../img/slider-handle.gif") no-repeat scroll 0 2px transparent;
  border: 0;
  height: 21px;
  text-align: center;
  font-weight: bold;
  outline: 1px solid black;
  padding: 4px;
  cursor: default;
  -moz-user-select: none;
}

a.hw-anchor-remove {
  margin-left: 5px;
}

a.hw-anchor-remove {
  vertical-align: middle;
  font-size: 10px;
}

div.hw-anchor-editor header,
div.hw-image-options header,
div.hw-image-editor header {
  font-size: 11px;
  background-color: #ddd;
  cursor: move;
  margin: 0 -5px 5px -5px;
  padding: 0 5px;
}
div.hw-image-editor header {
  margin: 0 -10px 10px -10px;
}

div.hw-anchor-editor label,
div.hw-image-options label {
  cursor: hand;
  cursor: pointer;
  font-size: 10px;
  vertical-align: middle;
  padding-top: 3px;
}

div.hw-anchor-editor input,
div.hw-image-options input,
div.hw-anchor-editor a {
  vertical-align: middle;
}

input[name=hw-anchor-type] {
  margin-top: 5px;
}

div.hw-file-list,
div.hw-preview-wrapper {
  float: left;
}

div.hw-file-list,
div.hw-file-list > select {
  width: 150px;
}

div.hw-file-list > select.hw-closed {
  display: none;
}

div.hw-file-list > select > option[data-directory] {
  
}

div.hw-preview-wrapper {
  margin-left: 1em;
  width: 150px;
}

div.hw-preview {
  width: 450px;
  height: 170px;
  overflow: hidden;
}
div.hw-preview img {
  max-height: 169px;
  max-width: 500px;
}

#hw-container.hw-editing > #hw-sitemap li[draggable=true] {
  -moz-user-select: none;
  cursor: move;
}

#hw-container.hw-editing > #hw-sitemap li[draggable=true].hw-over,
#hw-container.hw-editing > #hw-sitemap li[droppable=true].hw-over,
#hw-container.hw-editing > #hw-sitemap li.hw-over {
  border-bottom: 1px solid black;
}
#hw-container.hw-editing > #hw-sitemap li[draggable=true].hw-over-content,
#hw-container.hw-editing > #hw-sitemap li[droppable=true].hw-over-content,
#hw-container.hw-editing > #hw-sitemap ul.hw-over-content {
  border: 1px solid black;
}
#hw-container.hw-editing > #hw-content li[draggable=true].hw-over-content,
#hw-container.hw-editing > #hw-content li[droppable=true].hw-over-content,
#hw-container.hw-editing > #hw-content ul.hw-over-content {
  outline: 1px solid black;
}

#hw-container.hw-editing > #hw-sitemap li[draggable=true]:hover:after {
  content: ' ≡';
}

/*#hw-container.hw-editing > #hw-sitemap a {
  cursor: text;
  text-decoration: none;
}
#hw-container.hw-editing > #hw-sitemap a:hover {
  cursor: text;
  text-decoration: none;
}*/

#hw-sitemap .hw-renaming a {
  border: 1px inset black;
  padding: 0 5px;
  margin: -1px 0 -1px -6px;
}

.CodeMirror {
  background-color: white;
  color: black;
  -moz-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  -webkit-box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
  box-shadow: 1px 1px 0 #333, 2px 2px #333, 3px 3px 0 #333;
}
.CodeMirror-scroll {
  height: 190px;
  border: 1px solid gray;
}
