/*#hw-container {
  width: 970px;
  margin: 0 auto;
}*/

#hw-sidebar {
  position: fixed;
  width: 235px;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1) inset;
}
#hw-sidebar > * {
  padding: 10px;
}

#hw-sidebar-static {
  display: none;
}
#hw-sidebar-scroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
#hw-sidebar-scroll:hover {
  overflow-y: scroll;
}

#hw-sidebar-scroll > * {
  width: 198px;
}

#hw-sidebar-scroll::-webkit-scrollbar-corner {
  background: transparent;
}
#hw-sidebar-scroll::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
#hw-sidebar-scroll::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
#hw-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  border-width: 1px 1px 1px 6px;
}
#hw-sidebar-scroll::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

#hw-create,
#hw-users {
  margin-top: 10px;
}

#hw-users,
#hw-absorb,
#hw-followers,
#hw-following {
  margin: 13px 0;
}

#hw-create,
#hw-absorb,
#hw-users {
  float: left;
  width: 740px;
}

#hw-backend-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 250px;
}

#hw-feed,
#hw-navigation,
#hw-followers,
#hw-following {
  padding: 5px;
}

#hw-followers li,
#hw-following li {
  margin: 3px 0;
  border: 1px solid transparent;
  padding: 1px;
}
#hw-followers li:hover,
#hw-following li:hover {
  border: 1px solid #999;
}
#hw-following #hw-following-search:hover {
  border: 1px solid transparent;
}

#hw-following .hw-unread-count {
  font-size: 11px;
  color: #666;
  display: inline-block;
  width: 30px;
  cursor: pointer;
}
#hw-followers .hw-following-username,
#hw-following .hw-following-username {
  display: inline-block;
  max-width: 120px;
  width: 120px;
  overflow: hidden;
  height: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
#hw-followers .hw-following-username {
  max-width: 130px;
  width: 130px;
}
.hw-overflow-shadow {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  background-image: -moz-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -webkit-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -o-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -ms-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
#hw-followers a:hover,
#hw-following a:hover {
  text-decoration: none;
}
#hw-following-spam {
  font-size: 11px;
}
#hw-following .hw-selected {
  font-weight: bold;
}
#hw-following #hw-following-search,
#hw-following #hw-following-spam {
  margin-top: 20px;
}
#hw-followers li .hw-menu-button,
#hw-following li .hw-menu-button {
  visibility: hidden;
}
#hw-followers li:hover .hw-menu-button,
#hw-followers li.hw-active .hw-menu-button,
#hw-following li:hover .hw-menu-button,
#hw-following li.hw-active .hw-menu-button {
  visibility: visible;
}
#hw-following li.hw-over {
  border-bottom: 3px solid #000;
}

.hw-list-mode .hw-list-mode-label,
.hw-complete-mode .hw-complete-mode-label,
.hw-read-all-mode .hw-read-all-mode-label,
.hw-unread-mode .hw-unread-mode-label,
.hw-sort-oldest .hw-sort-oldest-label,
.hw-sort-newest .hw-sort-newest-label {
  font-weight: bold;
}

#hw-following-button[disabled],
.hw-button-save[disabled] {
  cursor: wait;
}

.hw-remote-actions {
  float: right;
  font-size: 11px;
}
.hw-comments .hw-remote-actions {
  margin-right: -4px;
}
.hw-remote-actions a {
  display: inline-block;
  margin: 0 5px;
}
.hw-remote-actions a:last-child {
  margin-right: 0;
}

#hw-following-new-wrapper {
  margin: 5px 0;
}

#hw-following-new {
  float: left;
  width: 90px;
}

#hw-feed {
  clear: both;
  padding-bottom: 0;
  border-top: 1px solid #ccc;
  margin-top: 3px;
}

#hw-absorb footer {
  margin-top: 10px;
}

#hw-absorb footer .hw-remote-actions {
  margin-top: 1px;
}

#hw-absorb .hw-remote img {
  max-width: 720px;
}
#hw-absorb .hw-remote img[align=left],
#hw-absorb .hw-remote img.alignleft {  /* boing boing wp */
  float: left;
  margin: 10px;
}
#hw-absorb .hw-remote img[align=right],
#hw-absorb .hw-remote img.alignright { /* boing boing wp */
  float: right;
  margin: 10px;
}

#hw-absorb-options {
  float: right;
}
#hw-absorb-options .hw-selected {
  font-weight: bold;
}

#hw-feed header {
  margin-bottom: 0.5em;
}
#hw-feed.hw-list-mode header {
  margin: 0;
}
#hw-feed.hw-list-mode .hw-list-closed .hw-creator,
#hw-feed.hw-list-mode .hw-list-closed .hw-view,
#hw-feed.hw-list-mode .hw-list-closed .hw-info {
  display: none;
}
#hw-feed h1 {
  text-align: left;
  text-transform: none;
}
#hw-feed section[data-unread=false] h1 {
  font-weight: normal;
}
#hw-feed section.hw-leave-unread .hw-mark-unread {
  font-weight: bold;
}
#hw-feed.hw-list-mode section {
  padding: 0px 5px 5px 5px;
}
#hw-feed.hw-list-mode .hw-list-open header {
  margin-bottom: 10px;
}
#hw-feed.hw-list-mode h1 {
  font-size: 110%;
}
#hw-feed.hw-list-mode h1 a {
  color: #333;
}
#hw-feed.hw-list-mode h1 a:hover {
  text-decoration: none;
}

#hw-feed {
  font: 13px arial, sans-serif;
}

#hw-feed h2,
#hw-feed h3,
#hw-feed h4,
#hw-feed h5,
#hw-feed h6 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0;
}
#hw-feed h3 {
  font-size: 1.17em;
}
#hw-feed h5 {
  font-size: 0.83em;
}
#hw-feed h6 {
  font-size: 0.67em;
}

#hw-feed p {
  margin: 1em 0;
}

#hw-feed ul {
  list-style-type: disc;
  padding-left: 2.5em;
}

#hw-feed ul ul,
#hw-feed ol ul {
  list-style-type: circle;
}

#hw-feed ol ol ul,
#hw-feed ol ul ul,
#hw-feed ul ol ul,
#hw-feed ul ul ul {
  list-style-type: square;
}

.hw-creator {
  color: #666;
  font-size: 13px;
}

section {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px 5px 10px 5px;
}


#hw-users td, th {
  padding: 1px;
  border: 1px solid black;
  vertical-align: middle;
}

#hw-users tr {
  -moz-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#hw-users .good {
  background-color: #0c9;
}

#hw-users .bad {
  background-color: #f33;
}

#hw-users .normal {
  -moz-transition: background-color 0.2s ease-out 2s;
  -webkit-transition: background-color 0.2s ease-out 2s;
  -o-transition: background-color 0.2s ease-out 2s;
  -ms-transition: background-color 0.2s ease-out 2s;
  transition: background-color 0.2s ease-out 2s;
}


#hw-setup form {
  padding: 5px;
}

#hw-setup label {
  margin-right: 5px;
  vertical-align: top;
  display: inline-block;
}

#hw-setup #hw-setup-save {
  float: right;
}

#hw-setup {
  width: 600px;
  margin: 5em auto;
  text-align: left;
}

#hw-setup dt {
  display: inline-block;
  width: 175px;
}

#hw-setup dd {
  display: inline-block;
  width: 375px;
}

#hw-customize {
  width: 270px;
}

#hw-customize fieldset {
  margin: 20px 0;
}

#hw-customize label {
  display: inline-block;
  clear: both;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  line-height: 15px;
  width: 258px;
}
#hw-customize label:last-child {
  border-bottom: 0;
}

#hw-customize .hw-label {
  max-width: 110px;
  width: 110px;
  color: #666;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}
#hw-customize .hw-label-textarea {
  max-width: 258px;
  width: 258px;
}
#hw-customize .hw-field {
  float: right;
  max-width: 135px;
  width: 135px;
  font-size: 12px;
  display: inline-block;
}
#hw-customize .hw-field[type=checkbox] {
  max-width: none;
  width: auto;
}
#hw-customize a.hw-button-media,
#hw-customize a.hw-button-media + progress.hw-shown,
#hw-customize .hw-media-result,
.hw-customize-clear {
  float: right;
}

#hw-customize * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
#hw-customize .hw-field {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

#hw-customize .hw-field {
  outline: 0;
  border: 0;
  padding: 0;
  text-align: right;
  border: 1px solid transparent;
}
#hw-customize textarea.hw-field {
  float: left;
  text-align: left;
  max-width: 256px;
  width: 256px;
  overflow: hidden;
  height: 35px;
}
#hw-customize select.hw-field {
  text-align: left;
}
#hw-customize .hw-field:focus {
  border: 1px solid #aaf;
}
#hw-customize #hw-currency {
  width: 50px;
}

#hw-customize legend {
  text-transform: uppercase;
}
#hw-customize fieldset legend .hw-arrow {
  border-left: 5px solid #333;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
  display: block;
  float: left;
  margin-top: 3px;
  margin-left: 3px;
}
#hw-customize fieldset[open] legend .hw-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 3px;
}

#hw-customize-save,
#hw-customize-close,
#hw-customize-edit {
  float: right;
}
#hw-customize-close {
  margin-right: 6px;
}

#hw-customize #hw-license-label {
  border-bottom: 0;
}

.hw-customize-tools .hw-fields {
  padding: 5px;
}

#hw-delete-account {
  font-size: 10px;
  float: right;
  margin-top: 2em;
}

#hw-customize-response {
  position: static;
  margin-left: 0;
  margin-top: 0;
  width: 110px;
  display: inline-block;
}

#hw-customize-preview,
#hw-customize-preview-prevent-click {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#hw-customize #hw-theme-thumb,
#hw-customize .hw-theme-thumb {
  display: block;
  width: 250px;
  height: 166px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 10px 10px;
  background-color: #aaa;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

#hw-customize #hw-theme-info {
  float: left;
  margin-left: 10px;
}
#hw-customize .hw-theme-info {
  margin-left: 10px;
}
#hw-customize .hw-theme-thumb {
  margin: 20px 10px 10px 10px;
  cursor: pointer;
}
#hw-customize .hw-theme-thumb:first-child {
  margin-top: 0;
}

#hw-customize #hw-theme-title,
#hw-customize .hw-theme-title {
  font-size: 14px;
  font-weight: bold;
}
#hw-customize #hw-theme-author,
#hw-customize #hw-theme-author a,
#hw-customize .hw-theme-author,
#hw-customize .hw-theme-author a {
  color: #666;
  font-weight: bold;
}

#hw-customize-select-theme {
  margin: 0 0 20px 10px;
}
#hw-customize-themes.hw-shown {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}
