/*#hw-container {
  width: 970px;
  margin: 0 auto;
}*/

#hw-sidebar {
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
#hw-sidebar:hover {
  overflow-y: scroll;
}

#hw-sidebar > * {
  width: 178px;
}

#hw-sidebar::-webkit-scrollbar-corner {
  background: transparent;
}
#hw-sidebar::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
#hw-sidebar::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
#hw-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  border-width: 1px 1px 1px 6px;
}
#hw-sidebar::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

#hw-create,
#hw-sidebar,
#users,
#customize {
  margin-top: 10px;
}

#users,
#hw-absorb,
#hw-tools,
#customize,
#hw-followers,
#hw-following {
  margin: 25px 0;
}

#hw-create,
#hw-absorb,
#users,
#customize {
  float: left;
  width: 740px;
}

#hw-backend-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 240px;
}

#hw-feed,
#hw-navigation,
#hw-tools,
#hw-followers,
#hw-following {
  padding: 5px;
}

#hw-navigation {
  margin-top: 5px;
}

#hw-followers li {
  display: inline-block;
}

#hw-following li {
  margin: 3px 0;
  border: 1px solid transparent;
  padding: 1px;
}
#hw-following li:hover {
  border: 1px solid #999;
}
#hw-following #hw-following-search:hover {
  border: 1px solid transparent;
}

#hw-following .hw-unread-count {
  font-size: 11px;
  color: #666;
  display: inline-block;
  width: 30px;
  cursor: pointer;
}
#hw-following .hw-following-username {
  display: inline-block;
  max-width: 100px;
  width: 100px;
  overflow: hidden;
  height: 16px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.hw-overflow-shadow {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  background-image: -moz-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -webkit-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -o-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: -ms-radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  background-image: radial-gradient(right center, ellipse farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}
#hw-following a:hover {
  text-decoration: none;
}
#hw-following-spam {
  font-size: 11px;
}
#hw-following .hw-selected {
  font-weight: bold;
}
#hw-following #hw-following-search,
#hw-following #hw-following-spam {
  margin-top: 20px;
}
#hw-following li .hw-menu-button {
  visibility: hidden;
}
#hw-following li:hover .hw-menu-button,
#hw-following li.hw-active .hw-menu-button {
  visibility: visible;
}
#hw-following li.hw-over {
  border-bottom: 3px solid #000;
}

.hw-list-mode .hw-list-mode-label,
.hw-complete-mode .hw-complete-mode-label,
.hw-read-all-mode .hw-read-all-mode-label,
.hw-unread-mode .hw-unread-mode-label,
.hw-sort-oldest .hw-sort-oldest-label,
.hw-sort-newest .hw-sort-newest-label {
  font-weight: bold;
}

#hw-following-button[disabled],
.hw-button-save[disabled] {
  cursor: wait;
}

.hw-remote-actions {
  float: right;
  font-size: 11px;
}
.hw-remote-actions a {
  display: inline-block;
  margin: 0 5px;
}

#hw-following-new-wrapper {
  margin: 5px 0;
}

#hw-following-new {
  float: left;
  width: 70px;
}

#hw-feed {
  clear: both;
  padding-bottom: 0;
  border-top: 1px solid #ccc;
  margin-top: 3px;
}

#hw-absorb footer {
  margin-top: 10px;
}

#hw-absorb footer .hw-remote-actions {
  margin-top: 1px;
}

#hw-absorb .hw-remote img {
  max-width: 720px;
}
#hw-absorb .hw-remote img[align=left],
#hw-absorb .hw-remote img.alignleft {  /* boing boing wp */
  float: left;
  margin: 10px;
}
#hw-absorb .hw-remote img[align=right],
#hw-absorb .hw-remote img.alignright { /* boing boing wp */
  float: right;
  margin: 10px;
}

#hw-absorb-options {
  float: right;
}
#hw-absorb-options .hw-selected {
  font-weight: bold;
}

#hw-feed header {
  margin-bottom: 0.5em;
}
#hw-feed.hw-list-mode header {
  margin: 0;
}
#hw-feed.hw-list-mode .hw-list-closed .hw-creator,
#hw-feed.hw-list-mode .hw-list-closed .hw-view,
#hw-feed.hw-list-mode .hw-list-closed .hw-info {
  display: none;
}
#hw-feed h1 {
  text-align: left;
  text-transform: none;
}
#hw-feed section[data-unread=false] h1 {
  font-weight: normal;
}
#hw-feed section.hw-leave-unread .hw-mark-unread {
  font-weight: bold;
}
#hw-feed.hw-list-mode section {
  padding: 0px 5px 5px 5px;
}
#hw-feed.hw-list-mode .hw-list-open header {
  margin-bottom: 10px;
}
#hw-feed.hw-list-mode h1 {
  font-size: 110%;
}
#hw-feed.hw-list-mode h1 a {
  color: #333;
}
#hw-feed.hw-list-mode h1 a:hover {
  text-decoration: none;
}

#hw-feed {
  font: 13px arial, sans-serif;
}

#hw-feed h2,
#hw-feed h3,
#hw-feed h4,
#hw-feed h5,
#hw-feed h6 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0;
}
#hw-feed h3 {
  font-size: 1.17em;
}
#hw-feed h5 {
  font-size: 0.83em;
}
#hw-feed h6 {
  font-size: 0.67em;
}

#hw-feed p {
  margin: 1em 0;
}

#hw-feed ul {
  list-style-type: disc;
  padding-left: 2.5em;
}

#hw-feed ul ul,
#hw-feed ol ul {
  list-style-type: circle;
}

#hw-feed ol ol ul,
#hw-feed ol ul ul,
#hw-feed ul ol ul,
#hw-feed ul ul ul {
  list-style-type: square;
}

.hw-creator {
  color: #666;
  font-size: 13px;
}

section {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px 5px 10px 5px;
}


#users td, th {
  padding: 1px;
  border: 1px solid black;
  vertical-align: middle;
}

#users tr {
  -moz-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#users .good {
  background-color: #0c9;
}

#users .bad {
  background-color: #f33;
}

#users .normal {
  -moz-transition: background-color 0.2s ease-out 2s;
  -webkit-transition: background-color 0.2s ease-out 2s;
  -o-transition: background-color 0.2s ease-out 2s;
  -ms-transition: background-color 0.2s ease-out 2s;
  transition: background-color 0.2s ease-out 2s;
}


#customize form,
#setup form {
  padding: 5px;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;*/
}

#customize label,
#setup label {
  margin-right: 5px;
  vertical-align: top;
  display: inline-block;
}

#customize textarea {
  width: 400px;
  float: left;
}

#customize input,
#setup input {
  
}

#customize #hw-customize-save,
#setup #hw-setup-save {
  float: right;
}

#customize #licenses {
  width: 200px;
}

#customize dt {
  display: inline-block;
  width: 175px;
  vertical-align: top;
  margin-top: 5px;
}

#customize dt label {
  display: block;
  float: left;
  font-size: 16px;
}

#customize dd {
  display: inline-block;
  width: 525px;
  vertical-align: top;
  margin-top: 5px;
}

#customize dd input,
#customize dd label,
#customize dd progress,
#customize dd iframe,
#customize dd .hw-media-result,
#customize dd select {
  display: block;
  float: left;
}
#customize dd .hw-media-result {
  margin: 3px 0 0 5px;
}

#hw-delete-account {
  font-size: 10px;
  float: right;
  margin-top: 1em;
}
