#hw-container {
  width: 970px;
  margin: 0 auto;
}

#hw-sidebar {
  float: right;
  width: 200px;
}

#hw-create,
#hw-sidebar,
#users,
#customize {
  margin-top: 50px;
}

#users,
#hw-absorb,
#hw-tools,
#customize,
#hw-followers,
#hw-following {
  margin: 25px 0;
}

#hw-create,
#hw-absorb,
#users,
#customize {
  float: left;
  width: 740px;
}

#hw-feed,
#hw-navigation,
#hw-tools,
#hw-followers,
#hw-following {
  padding: 5px;
}

#hw-followers li,
#hw-following li {
  display: inline-block;
}

#hw-following.hw-edit-mode li {
  display: block;
  margin: 3px 0;
}
#hw-following.hw-edit-mode li img {
  vertical-align: middle;
}
#hw-following .hw-visit,
#hw-following .hw-unfollow {
  display: none;
}
#hw-following.hw-edit-mode .hw-visit,
#hw-following.hw-edit-mode .hw-unfollow {
  display: inline;
}
#hw-following #hw-following-read-all {
  text-align: center;
  display: block;
  margin: 3px;
}

#hw-following-button[disabled] {
  cursor: wait;
}

.hw-remote-actions {
  float: right;
  font-size: 10px;
}
.hw-remote-actions a {
  display: inline-block;
  margin: 0 5px;
}

#hw-following-new-wrapper {
  margin: 5px 0;
}

#hw-following-new {
  float: left;
  width: 75px;
}

#hw-feed {
  clear: both;
  padding-bottom: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 16px;
}

#hw-absorb > h1 {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#hw-absorb .hw-remote img {
  float: left;
  max-width: 720px;
}
#hw-absorb .hw-remote img[align=right] {
  float: right;
}

#hw-absorb-options {
  float: right;
}
#hw-absorb-options .hw-selected {
  font-weight: bold;
}

#hw-feed header {
  margin-bottom: 0.5em;
}
#hw-feed.hw-list-mode header {
  margin: 0;
}
#hw-feed h1 {
  text-align: left;
  text-transform: none;
}

section {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px 5px 10px 5px;
}


#users td, th {
  padding: 1px;
  border: 1px solid black;
  vertical-align: middle;
}

#users tr {
  transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
}

#users .good {
  background-color: #0c9;
}

#users .bad {
  background-color: #f33;
}

#users .normal {
  transition: background-color 0.2s ease-out 2s;
  -moz-transition: background-color 0.2s ease-out 2s;
  -webkit-transition: background-color 0.2s ease-out 2s;
}


#customize form,
#setup form {
  padding: 5px;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
}

#customize label,
#setup label {
  margin-right: 5px;
  margin-top: 3px;
  vertical-align: top;
  display: inline-block;
}

#customize textarea {
  width: 400px;
}

#customize input,
#setup input {
  
}

#customize #hw-customize-save,
#setup #hw-setup-save {
  float: right;
}

#customize #licenses {
  width: 200px;
}

#customize dt {
  display: inline-block;
  width: 175px;
}

#customize dt label {
  display: block;
  float: left;
  font-size: 16px;
}

#customize dd {
  display: inline-block;
  width: 525px;
}

#customize dd input,
#customize dd label,
#customize dd select {
  display: block;
  float: left;
}

#hw-delete-account {
  font-size: 10px;
  float: right;
  margin-top: 1em;
}
