/* basic layout for the site */

body,
button,
input,
select,
option {
  font-size: 13px;
}

a, a:visited {
  color: #03c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

strong {
  font-weight: bold;
}

.hw-disabled {
  color: #999;
}
.hw-disabled:hover {
  text-decoration: none;
}

.hw-button {
  padding: 1px 7px;
  margin: 0 3px 6px 3px;
  display: inline-block;
  -moz-transition: all 0.03s linear 0.1s;
  -webkit-transition: all 0.03s linear 0.1s;
  -o-transition: all 0.03s linear 0.1s;
  -ms-transition: all 0.03s linear 0.1s;
  transition: all 0.03s linear 0.1s;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #333;

  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  border-bottom-color: #aaa;
  background-color: #e0e0e0;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff, EndColorStr=#ffe0e0e0);
  background-image: -moz-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#fff), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  -moz-box-shadow: inset 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 1px #fff;
  -o-box-shadow: inset 0 0 1px #fff;
  -ms-box-shadow: inset 0 0 1px #fff;
  box-shadow: inset 0 0 1px #fff;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
.hw-button:hover {
  border-color: #999;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.hw-button:active,
.hw-button.hw-selected {
  border-color: #aaa;
  border-bottom-color:#ccc;
  border-top-color: #999;
  -moz-box-shadow: inset 0 1px 2px #aaa;
  -webkit-box-shadow: inset 0 1px 2px #aaa;
  -o-box-shadow: inset 0 1px 2px #aaa;
  -ms-box-shadow: inset 0 1px 2px #aaa;
  box-shadow: inset 0 1px 2px #aaa;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#e6e6e6, EndColorStr=#dcdcdc);
  background-image: -moz-linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e6e6e6), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
  background-image: -o-linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
  background-image: -ms-linear-gradient(top, #e6e6e6 0, #dcdcdc 100%);
  background-image: linear-gradient(to bottom, #e6e6e6 0, #dcdcdc 100%)
}
a.hw-button {
  text-decoration: line-through;
}
a.hw-button[href],
a.hw-button[href]:hover {
  text-decoration: none;
}

#hw-container {
  position: relative;
}

#hw-header {
  width: 650px;
  position: absolute;
  top: 6px;
  padding: 0 3px 3px 3px;
  left: 182px;
  padding-bottom: 10px;
}

#hw-footer {
  clear: both;
  text-align: center;
  width: 182px;
  padding-top: 10px;
}

#hw-content {
  width: 650px;
  position: absolute;
  top: 60px;
  padding: 0 3px 3px 3px;
  left: 182px;
  padding-bottom: 10px;
}

#hw-content nav.hw-neighbors {
  text-align: center;
  padding: 4px 0;
  float: right;
  /*width: 335px;*/
  position: absolute;
  top: 0;
  left: 310px;
  white-space: nowrap;
}
.hw-editing #hw-content nav.hw-neighbors {
  display: none;
}
#hw-content nav.hw-neighbors.hw-reverse-sort .hw-button {
  float: right;
}

#hw-content > header,
#hw-content > section > header {
  float: left;
  margin-bottom: 6px;
  padding: 0 6px;
  width: 290px;
  background-color: white;
}

#hw-content.hw-presentation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
}

/*#hw-content.hw-presentation > section {
  display: none;
}
#hw-content.hw-presentation > section.hw-shown {
  display: block;
}*/

#hw-content.hw-presentation > section.hw-shown > footer {
  display: none;
}
#hw-content.hw-presentation > section.hw-shown > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background-color: #333;
  padding: 0.5em;
  margin: 5px;
}
#hw-content.hw-presentation > section.hw-shown > header a {
  color: white;
}
#hw-content.hw-presentation > section.hw-shown > div.hw-view {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  padding: 1em;
}
.hw-slideshow-nav {
  display: none;
}
#hw-content.hw-presentation .hw-slideshow-nav {
  display: inline;
}
#hw-presentation-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
}
#hw-content.hw-presentation #hw-presentation-controls {
  color: white;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  zoom: 1;
}
#hw-content #hw-presentation-controls:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.hw-media-slideshow {
  height: 300px;
}

.hw-media-slideshow img {
  max-height: 300px;
}

.hw-media-slideshow-item {
  cursor: hand;
  cursor: pointer;
}

.hw-slideshow-control,
.hw-media-slideshow-control {
  cursor: hand;
  cursor: pointer;
  color: #03c;
  font-size: 36px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;  
}

.hw-slideshow-control,
.hw-slideshow-label,
.hw-media-slideshow-label {
  font-size: 25px;
}
#hw-content.hw-presentation .hw-slideshow-control {
  color: white;
}

div.hw-view {
  position: relative;
  clear: both;
}

div.hw-view iframe,
div.hw-view object, 
div.hw-view embed {
  max-height: 450px;
  max-width: 600px;
}

.hw-content-hidden {
  font-style: italic;
}

#hw-user {
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 6px;
}

#hw-user .hw-button {
  float: left;
}

#hw-user > .hw-selected {
  font-weight: bold;
}

form#hw-login-form {
  display: none;
}

#hw-sitemap {
  float: left;
  margin: 6px;
  width: 155px;
  padding: 6px;
  background-color: white;
}

#hw-sitemap > ul > li > ul {
  padding-left: 7px;
  zoom: 1; /* workaround ie7 */
}

#hw-sitemap .hw-selected {
  font-weight: bold;
}

#hw-sitemap form,
#hw-license {
  display: block;
}
#hw-sitemap input {
  width: 149px;
}

#hw-sitemap li {
  word-wrap: break-word;
}

#hw-logo {
  display: block;
  width: 100%;
  margin-bottom: .5em;
}

#hw-sidebar-tipjar {
  font-size: 11px;
  text-align: center;
}

#hw-sidebar-search,
#hw-sidebar-newsletter,
#hw-sidebar-tipjar,
#hw-sidebar-ad,
#hw-sidebar-license {
  margin-top: .5em;
  padding-top: .5em;
}

#hw-sidebar-newsletter input {
  font-size: 11px;
}
#hw-sidebar-newsletter input {
  width: auto;
}
#hw-sidebar-newsletter input[name=email] {
  width: 65px;
}

#hw-sidebar-ad {
  
}

#hw-sidebar-license {
  text-align: center;
  font-size: 12px;
}

#hw-helloworld,
#hw-theme {
  font-size: 11px;
  text-align: center;
}
#hw-theme {
  display: block;
  margin-top: 10px;
}
#hw-theme-title,
#hw-theme-author {
  display: block;
}

#hw-content footer {
  background-color: white;
  color: black;
  font-size: 11px;
  margin: 6px 6px 24px 0;
  border-top: 1px solid #0bf;
  padding: 3px 6px 6px 3px;
}

#hw-content header h1,
form.hw-media-library-standalone header h1 {
  font-size: 16px;
  margin: 3px 3px 3px 0;
}

.hw-warning {
  background-color: #ffc;
  margin-bottom: 1em;
}

#hw-content ul,
.hw-wysiwyg ul {
  list-style: disc inside;
}

#hw-content ol,
.hw-wysiwyg ol {
  list-style: decimal inside;
}

#hw-content li,
.hw-wysiwyg li {
  padding-left: 7px;
}

#hw-content img.hw-read-more,
.hw-wysiwyg img.hw-read-more {
  border-top: 3px dotted #03c;
  height: 1em;
  margin: 1em 0;
  width: 100%;
  display: none;
}

a.hw-read-more {
  border-top: 1px dotted gray;
  font-size: 16px;
  width: 100%;
  display: block;
  text-align: right;
}

#hw-results li {
  list-style: none;
  float: left;
  clear: left;
  width: 625px;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
#hw-results li .hw-results-image {
  float: right;
  max-width: 155px;
  max-height: 115px;
  margin-left: 5px;
}
#hw-results li .hw-results-info {
  float: left;
  width: 460px;
}

#hw-content #hw-results .hw-results-text {
  font-size: 11px;
}

.hw-pager {
  margin: 10px 0;
}

.hw-pager .hw-next {
  float: right;
}

#hw-content > ul.hw-album {
  list-style: none;
}
#hw-content > ul.hw-album > li {
  padding: 0;
  text-align: center;
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
  vertical-align: top;
  padding: 3px;
  margin-bottom: 3px;
  position: relative;
  overflow: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.hw-album > li > a {
  display: block;
  width: 154px;
  max-width: 154px;
}
.hw-album > li:hover {
  box-shadow: 2px 2px 6px #666;
}
.hw-album > li > a:first-child {
  min-height: 115px;
}
.hw-album > li img {
  display: inline-block;
  zoom: 1; /* workaround ie7 */
  *display: inline; /* workaround ie7 */
  max-width: 154px;
  max-height: 115px;
}
.hw-album > li img.hw-invisible {
  min-height: 115px;
}
.hw-album .hw-content-title {
  min-height: 1.1em;
}
.hw-album > li.hw-deleted {
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.hw-album > li > span.hw-content-delete {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
.hw-editing .hw-album > li:hover > span.hw-content-delete {
  display: block;
}

.hw-archive,
.hw-forum {
  padding: 25px 10px;
  clear: both;
}

.hw-forum {
  border: 1px solid #aaa;
}

#hw-content .hw-archive li,
#hw-content .hw-forum li {
  clear: both;
  position: relative;
  padding-left: 15px;
  margin: 5px 0;
  list-style: inside square;
}

#hw-content .hw-forum form {
  padding: 10px;
  background-color: #eef;
  width: 90%;
}
#hw-content .hw-forum li {
  padding: 10px;
  margin: 0;
  display: block;
  width: 90%;
}
#hw-content .hw-forum li.hw-even {
  background-color: #eef;
}
#hw-content .hw-forum li[data-is-album=true] {
  font-weight: bold;
}

.hw-archive li .hw-content-delete,
.hw-forum li .hw-content-delete {
  display: none;
}
.hw-editing .hw-archive li:hover .hw-content-delete,
.hw-editing .hw-forum li:hover .hw-content-delete {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

section.hw-template-forum footer .hw-basic-info {
  display: none;
}
#hw-content section.hw-template-forum footer.hw-info {
  border: 0;
}
section.hw-template-forum footer .hw-comment-form {
  padding: 10px 0;
  border-bottom: 1px solid #0bf;
}

#hw-loading {
  border: 1px solid black;
  padding: 1em;
}

#hw-checkout {
  position: absolute;
  top: 30px;
  right: 6px;
}

#hw-cart-wrapper {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 300px;
  background-color: white;
  padding: 10px;
  border: 3px double black;
}

#hw-cart-close {
  float: right;
}

#hw-cart {
  overflow: scroll;
  clear: right;
  width: 700px;
  height: 250px;
  margin-bottom: 10px;
}

#hw-cart input {
  width: 50px;
}

#hw-cart-checkout {
  float: right;
}

a.hw-cart-thumb img {
  display: block;
}
a.hw-cart-title {
  display: block;
  min-height: 1.1em;
  margin: 3px 0;
}
.hw-cart-item {
  padding-bottom: 1em;
  margin: 1em;
  border-bottom: 1px solid black;
}

span[data-tooltip]:hover {
  position: relative;
  cursor: hand;
  cursor: pointer;
}

span[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  padding: 4px 8px;
  color: #333;
  width: 170px;
  position: absolute;
  right: 0;
  bottom: 25px;
  z-index: 2000;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;*/
  background-color: white;
  border: 1px solid #000;
}

ul.hw-comments {
  clear: both;
  margin-top: 6px;
}

#hw-container ul.hw-comments li {
  list-style-type: none;
  margin-bottom: 5px;
  padding: 3px;
  border: 1px solid transparent;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
ul.hw-comments li:hover {
  border: 1px solid #ccc;
}

ul.hw-comments img,
.hw-comment-avatar {
  float: left;
  margin-right: 5px;
  width: 42px;
  height: 42px;
}
.hw-comment-avatar {
  margin-left: 3px;
}
.hw-comment-input img,
ul.hw-comments .hw-comment-text img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.hw-comment-header {
  float: left;
  font-size: 16px;
  margin: 1em 0;
}
form.hw-comment-form {
  margin: 1em 0;
}
.hw-comment-input {
  width: 580px;
  margin-left: 50px;
  min-height: 50px;
  z-index: 2;
  float: left;
  outline: 0;
}
.hw-comment-form .hw-button {
  float: left;
}
.hw-comment-form .hw-button-save {
  float: right;
}
.hw-comment-options-wrapper {
  float: left;
}

div.hw-comment-help {
  height: 130px;
  background-color: white;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;*/
}
div.hw-comment-help.hw-open {
  margin: 39px 3px 5px 0;
  padding: 10px;
  clear: both;
}

div.hw-anchor-editor,
div.hw-image-options,
div.hw-user-autocomplete {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1000;
  width: 275px;
  border: 1px solid black;
  background-color: white;
  padding: 0 5px 5px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: courier new, monospace;
}
a.hw-anchor-remove {
  margin-left: 5px;
}

a.hw-anchor-remove {
  vertical-align: middle;
  font-size: 10px;
}

div.hw-anchor-editor header,
div.hw-image-options header,
div.hw-image-editor header {
  font-size: 11px;
  background-color: #eef;
  border-bottom: 1px solid #ccc;
  cursor: move;
  margin: 0 -5px 5px -5px;
  padding: 1px 5px;
}
div.hw-image-editor header {
  margin: 0 -10px 10px -10px;
}

div.hw-anchor-editor label,
div.hw-image-options label {
  cursor: hand;
  cursor: pointer;
  font-size: 10px;
  vertical-align: middle;
  padding: 3px 0 0 3px;
}

div.hw-anchor-editor input,
div.hw-image-options input,
div.hw-anchor-editor a {
  vertical-align: middle;
}

#hw-image-crop-rect:after {
  content: attr(width) "x" attr(height);
  background-color: white;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}

input[name=hw-anchor-type],
input[name=hw-image-align] {
  margin-top: 5px;
}

a.hw-button-media {
  text-decoration: none;
  overflow: hidden;
}

a.hw-button-media input {
  top: -4px !important;
  left: auto !important;
}

a.hw-button-media + progress,
.hw-media-result + iframe {
  float: left;
}
a.hw-button-media + progress.hw-shown {
  height: 12px;
  width: 82px;
  margin: 5px 0 0 5px;
  float: left;
  display: block;
}
.hw-media-result {
  float: left;
  margin: 3px 0 0 5px;
  display: block;
}
.hw-media-result.hw-bad {
  color: white;
  background-color: #f33;
  padding: 0 5px;
}

div.hw-paste-area {
  position: absolute;
  z-index: -1;
}

.hw-remote-actions {
  float: right;
}

@media print {
  #hw-user,
  nav.hw-neighbors,
  #hw-sitemap {
    display: none;
  }

  #hw-content {
    position: static;
    padding-left: 1em;
  }

  #hw-content a[href]:after {
    content: " (" attr(href) ") ";
  }
}
