/* plain styling (stuff to override in your theme) */

body,
button,
input,
select,
option {
  font: 13px helvetica neue, arial, sans-serif;
}

.hw-help {
  font: 13px Courier New, monospace;
}

.hw-button,
.hw-button:visited {
  background-color: #eff;
  border: 1px solid #0c0;
  color: #060;
}
.hw-button:hover {
  border: 1px solid #090;
  color: #060;
}

.hw-button-save,
.hw-button-save:visited,
.hw-last,
.hw-last:visited,
#hw-dashboard,
#hw-dashboard:visited
#hw-follow,
#hw-follow:visited {
  background-color: #eff;
  border: 1px solid #0cf;
  color: #06f;
}
.hw-button-save:hover,
.hw-last:hover,
#hw-dashboard:hover,
#hw-follow:hover {
  border: 1px solid #09f;
  color: #06f;
}
.hw-button-media,
.hw-button-media:visited,
.hw-next,
.hw-next:visited,
.hw-image-crop,
.hw-image-crop:visited {
  background-color: #ffe;
  border: 1px solid #f90;
  color: #f30;
}
.hw-button-media:hover,
.hw-next:hover,
.hw-image-crop:hover {
  border: 1px solid #f60;
  color: #f30;
}
.hw-button-delete,
.hw-button-delete:visited,
.hw-button-logout,
.hw-button-logout:visited,
.hw-previous,
.hw-previous:visited {
  background-color: #fcfcfc;
  border: 1px solid #f60;
  color: #f30;
}
.hw-button-delete:hover,
.hw-button-logout:hover,
.hw-previous:hover {
  border: 1px solid #f30;
  color: #f30;
}
.hw-start,
.hw-start:visited {
  background-color: #fef;
  border: 1px solid #c0f;
  color: #90f;
}
.hw-start:hover {
  border: 1px solid #90f;
  color: #90f;
}

#hw-sitemap,
#hw-setup-form,
#hw-customize-form {
  border: 1px solid #0cf;
}

.hw-media-library-standalone,
#hw-followers,
div.hw-media-creator {
  border: 1px solid #fa0;
}

#hw-following,
.hw-help,
.hw-options {
  border: 1px solid #0c0;
}

#hw-tools {
  border: 1px solid #f60;
}

#hw-navigation {
  border: 1px solid #c0f;
}

.hw-comment-input,
.hw-image-editor {
  border: 1px solid #000;
}

#hw-content > header,
#hw-content > section > header {
  border: 1px solid #fa0;
}

span[data-tooltip]:hover:after {
  border: 1px solid #0c0;
}

.hw-individual-content figure {
  text-align: center;
}
