.thumbLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--thumb-width);
  max-width: var(--thumb-width);
}

.thumbLink {
  min-height: var(--thumb-height);
}

.thumb {
  display: inline-block;
  max-width: var(--thumb-width);
  max-height: var(--thumb-height);
}
