.container {
  display: flex;
  align-items: flex-start;
  margin: 64px 8px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-items: flex-start;
  width: 82%;
  margin: 6px;
  overflow-x: scroll;
}

.nav {
  position: sticky;
  top: 0;
  width: 235px;
  height: 100vh;
  padding: var(--app-margin);
  overflow: scroll;
}
