<script>
  hw.setMsg('confirm-delete', "{% raw js_escape(_('ya sure there, buddy?')) %}");
  hw.setMsg('slideshow', "{% raw js_escape(_('slideshow')) %}");
  hw.setMsg('insert-as-slideshow', "{% raw js_escape(_('insert as slideshow?')) %}");
  hw.xsrf = '{% raw xsrf_form_html() %}';
  hw.uploadUrl = '{{ nav_url(section='upload') }}';
  {% if content %}
  hw.contentUrl = '{{ content_url(content) }}';
  {% if content.section == 'main' %}
    hw.sectionUrl = '{{ nav_url(username=content.username, section=content.name) }}';
  {% else %}
    hw.sectionUrl = '{{ nav_url(username=content.username, section=content.section) }}';
  {% end %}
  {% end %}
  hw.createIndividualContent = {% if individual_content %}true{% else %}false{% end %};
  hw.pageHasCode = {% if has_code %}true{% else %}false{% end %};
  hw.remoteUsers = [ {% for index, user in enumerate(remote_users) %}
                        { 'username': '{{ js_escape(user.username) }}',
                          'profile_url': '{{ user.profile_url }}'
                        }
                        {% if index != len(remote_users) - 1 %},{% end %}
                     {% end %} ];
</script>

<form name="hw-create" method="post" action="/create" onsubmit="return false" class="{% if content %}hw-edit hw-slide-transition hw-closed{% else %}hw-new{% end %}">
  {% raw xsrf_form_html() %}
  <input name="hw-id" type="hidden" {% if content %}value="{{ content.id }}"{% end %}>
  <input name="hw-url" type="hidden" {% if content %}value="{{ content_url(content) }}"{% end %}>
  <input name="hw-username" type="hidden" placeholder="{{ _("username") }}"
         value="{% if content %}{{ content.username }}{% else %}{{ default_username }}{% end %}">
  <input name="hw-thread" type="hidden" value="">

  {% set section_template = '' %}
  <div class="hw-create-section-wrapper">
    {% if individual_content %}
      <select name="hw-section-album" onclick="" onchange="hw.sectionChange(this)">
        <option value="_new_">{{ _('new section/album...') }}</option>
        <option value="" {% if len(sections) == 0 or not content %}selected{% end %}>------------</option>
        <option value="main" {% if content and content.section == 'main' %}selected{% end %} data-hidden="false">{{ _('main (top-level page)') }}</option>
        {% for section in sections %}
          <option value="{{ section['name'] }}||{{ section['template'] }}|" {% if content and content.section == section['name'] and not content.album %}selected{% end %} data-hidden="{% if section['hidden'] %}true{% else %}false{% end %}">{{ section['title'] }}</option>
          {% if content and content.section == section['name'] %}
            {% set section_template = section['template'] %}
          {% end %}
          {% for album in section['albums'] %}
            <option value="{{ section['name'] }}|{{ album['name'] }}|{{ section['template'] }}|{{ album['template'] }}" {% if content and content.section == section['name'] and content.album == album['name'] %}selected{% end %} data-hidden="{% if section['hidden'] or album['hidden'] %}true{% else %}false{% end %}"> - {{ album['title'] }}</option>
            {% if content and content.section == section['name'] and content.album == album['name'] and album['template'] %}
              {% set section_template = album['template'] %}
            {% end %}
          {% end %}
        {% end %}
      </select>
    {% end %}

    <input name="hw-price" type="text" placeholder="{{ _("price") }}"
           {% if content %}value="{{ content.price }}"{% end %}>

    <input name="hw-title" type="text" placeholder="{{ _("title (optional)") }}" tabindex="1"
           {% if content %}value="{{ content.title }}"{% end %}>
  </div>

  <span name="hw-save-wrapper">
    <input name="hw-save" type="button" class="hw-button hw-button-blue" data-save="{{ _("save") }}" data-saving="{{ _("saving") }}" value="{{ _("save") }}" onclick="hw.save()">
    <span name="hw-response" class="hw-invisible-transition hw-invisible" data-saved="{{ _("saved.") }}"
          data-bad="{{ _("no good, mate.") }}" data-duplicate="{{ _("duplicate id.") }}">&nbsp;</span>
  </span>

  <a href="#options" name="hw-more-options" class="hw-button hw-button-green" onclick="hw.optionsClick(event)">{{ _('options') }}</a>

  <div name="hw-events">
    <input name="hw-date-start" type="datetime" placeholder="{{ _("start, e.g. 2011/05/23 20:30") }}"
           {% if content %}value="{{ content.date_start }}"{% end %}>
    <input name="hw-date-end" type="datetime" placeholder="{{ _("ends, e.g. 2011/05/24 00:30") }}"
           {% if content %}value="{{ content.date_end }}"{% end %}>
    <input name="hw-date-repeats" type="text" placeholder="{{ _("repeats every __ days, e.g. 7") }}"
           {% if content %}value="{{ content.date_repeats }}"{% end %}>
  </div>

  <div name="hw-options" class="hw-slide-transition hw-closed hw-box-green">
    {% if individual_content %}
    <div class="hw-thumb-preview-wrapper">
      <label>{{ _('thumbnail preview:') }}</label><br>
      <img name="hw-thumb-preview" {% if content and content.thumb %}src="{{ content.thumb }}"{% else %}class="hw-hidden"{% end %}>
    </div>
    {% end %}
    <dl>
      {% if individual_content or content.section != 'main' %}
      <dt><label>{{ _("section:") }}</label></dt><dd><input name="hw-section" maxlength="255" type="text" placeholder="{{ _("section") }}" {% if content %}value="{{ content.section }}"{% end %}></dd>
      {% else %}
      <input name="hw-section" type="hidden" value="{{ content.section }}">
      {% end %}
      <input name="hw-section-template" type="hidden" value="{{ section_template }}">
      {% if individual_content %}
      <dt><label>{{ _("album:") }}</label></dt><dd><input name="hw-album" maxlength="255" type="text" placeholder="{{ _("album") }}" {% if content %}value="{{ content.album }}"{% end %}></dd>
      {% end %}
      <dt><label>{{ _("name:") }}</label></dt><dd><input name="hw-name" maxlength="255" type="text" placeholder="{{ _("name") }}" {% if content %}value="{{ content.name }}"{% end %}></dd>
      {% if individual_content %}
      <dt><label>{{ _("thumbnail:") }}</label></dt><dd><input name="hw-thumb" type="text" placeholder="{{ _("thumb") }}" {% if content %}value="{{ content.thumb }}"{% end %} onchange="hw.changeThumbPreview()"> <button class="hw-button hw-button-orange" onclick="hw.selectFile(hw.getFirstElementByName('hw-thumb'), hw.changeThumbPreview)">{{ _('select image') }}</button></dd>
      {% end %}
      <dt><label>{{ _("template:") }}</label></dt><dd><select name="hw-template" {% if content %}value="{{ content.template }}"{% end %} onchange="hw.templateChange(null, this.value)">
          <option value="">{{ _('-none-') }}</option>
        {% for template in templates %}
          <option value="{{ template }}" {% if content and template == content.template %}selected{% end %}>{{ _(template) }}</option>
        {% end %}
      </select></dd>
      <dt><label>{{ _("hidden:") }}</label></dt><dd><input name="hw-hidden" type="checkbox" {% if content and content.hidden %}checked="checked"{% end %}></dd>
      {% if not content %}
      <dt><label>{{ _("insert as separate posts:") }}</label></dt><dd><input name="hw-separate" type="checkbox" onclick="hw.separate(this)"></dd>
      {% else %}
      <input name="hw-separate" type="hidden" value="0">
      {% end %}
    </dl>
  </div>

  <div name="hw-playground" class="{% if section_template %}hw-template-{{ section_template }}{% end %}">
    {% if individual_content %}
    <div name="hw-media-creator-template" class="hw-hidden">
      <div name="hw-media-creator" class="hw-box-orange">
        <span class="hw-created hw-button hw-button-red" name="hw-media-cancel" onclick="parent.hw.cancelMedia(this)">x</span>
        <label class="hw-initial">{{ _("media upload") }}</label>
        <span class="hw-initial hw-explanation">{{ _("(images, videos, audio, links)") }}</span>
        <br class="hw-initial">
        <label class="hw-created">{{ _("source") }}</label>
        <input name="hw-media-remote" type="text" placeholder="{{ _("URL / embed") }}" onchange="parent.hw.remoteMedia(this)" onkeypress="parent.hw.checkPaste(this, event)">
        <span class="hw-initial hw-media-or">{{ _("or") }}</span>
        <input name="hw-media-local" type="file" multiple value="{{ _("Upload file(s)") }}" onchange="parent.hw.localMedia(this)">
        <input class="hw-created hw-hidden" name="hw-media-file" type="text" disabled readonly value="">
        <br class="hw-created">
        <input class="hw-created" name="hw-media-title" type="text" placeholder="{{ _('title') }}">
        <input class="hw-created" name="hw-media-caption" type="text" placeholder="{{ _('caption') }}">
        <input class="hw-created" name="hw-media-source" type="text" placeholder="{{ _('source') }}">
        <input class="hw-created" name="hw-media-tags" type="text" placeholder="{{ _('tags') }}">
        <span name="hw-media-file-failed" class="hw-hidden">{{ _('failed!') }}</span>
        <progress name="hw-media-file-progress" value="0" max="100" class="hw-hidden">0%</progress>
        <input name="hw-media-section" type="hidden">
        <input name="hw-media-album" type="hidden">
        <input name="hw-media-template" type="hidden">
        <a class="hw-created hw-closed" name="hw-media-preview-wrapper" href="#edit" onclick="parent.hw.editImage(event, this);">
          <img name="hw-media-preview">
          <span>{{ _('edit') }}</span>
        </a>
        {% comment TODO you can hide this file and use an alternate ui: https://developer.mozilla.org/en/using_files_from_web_applications %}
      </div>
    </div>
    <div name="hw-media-list"></div>
    <script>
      (function() {
        var callback = null;
        {% if initial_media %}
          callback = function(iframeDoc) {
            var remoteField = hw.getFirstElementByName('hw-media-remote', iframeDoc);
            remoteField.value = "{% raw js_escape(initial_media) %}";
            hw.remoteMedia(remoteField);
          }
        {% end %}
        hw.createMediaIframe(callback);
      })();
    </script>
    {% end %}

    {% if not individual_content %}
      <strong>{{ _('styling and code added here will apply to all items belonging to this section.') }}</strong>
    {% end %}
    <div name="hw-html-wrapper" class="hw-slide-transition {% if individual_content %}hw-closed{% end %}">
      <textarea name="hw-style" {% if individual_content %}class="hw-hidden"{% end %}>{% if content %}{{ content.style }}{% end %}</textarea>
      <textarea name="hw-code" class="hw-hidden">{% if content %}{% if edit and has_code %}{{ content.original_code }}{% else %}{{ content.code }}{% end %}{% end %}</textarea>
      {% if individual_content %}<textarea name="hw-html"></textarea>{% end %}
      <ul name="hw-html-tabs">
        <li name="hw-style-tab" onclick="hw.htmlTab(this)" {% if not individual_content %}class="hw-selected"{% end %}>{{ _('style') }}</li>
        <li name="hw-code-tab" onclick="hw.htmlTab(this)">{{ _('code') }}</li>
        {% if individual_content %}<li name="hw-html-tab" onclick="hw.htmlTab(this)" class="hw-selected">{{ _('html') }}</li>{% end %}
      </ul>
    </div>

    {% if individual_content %}
      <iframe name="hw-media-wrapper" class="hw-slide-transition hw-closed" data-loading="{{ _('loading...') }}" data-bad="{{ _('Error loading the media library.') }}" src="about:blank" width="100%"></iframe>
      <div name="hw-wysiwyg-controls">
        <span name="hw-bold" onclick="hw.wysiwyg(event, 'bold', null, this)" title="{{ _('bold') }}">B</span>
        <span name="hw-italic" onclick="hw.wysiwyg(event, 'italic', null, this)" title="{{ _('italic') }}">I</span>
        <span name="hw-strikeThrough" onclick="hw.wysiwyg(event, 'strikeThrough', null, this)" title="{{ _('strike') }}">S</span> |
        <span name="hw-insertUnorderedList" onclick="hw.wysiwyg(event, 'insertUnorderedList')" title="{{ _('unordered list') }}">UL</span>
        <span name="hw-insertOrderedList" onclick="hw.wysiwyg(event, 'insertOrderedList')" title="{{ _('ordered list') }}">OL</span> |
        <span name="hw-quote" onclick="hw.wysiwyg(event, 'formatBlock', '<BLOCKQUOTE>')" title="{{ _('quote') }}">"</span> |
        <span name="hw-wysi-media" onclick='hw.mediaLibrary(event, this)' title="{{ _('media') }}">MEDIA</span>
        <span name="hw-createLink" onclick='hw.wysiwyg(event, "createLink")'
               title="{{ _('link') }}">A</span> |
        <select name="hw-fontSize" onchange="hw.wysiwyg('fontSize', this.value)" title="{{ _('font size') }}">
          <option value="1">{{ _('small') }}</option>
          <option value="2" selected>{{ _('normal') }}</option>
          <option value="4">{{ _('large') }}</option>
        </select> |
        <span name="hw-more" onclick='hw.wysiwyg(event, "insertHTML", "<img class=\"hw-read-more\" src=\"{{ static_url('img/pixel.gif') }}\">")' title="{{ _('read more') }}">more</span> |
        <span name="hw-html-toggle" onclick="hw.html(event, this)" title="{{ _('html') }}">HTML</span>
      </div>
    {% end %}
  </div>
</form>
{% if individual_content %}
<div name="hw-anchor-editor">
  <input name="hw-anchor-link" type="text" placeholder="{{ _('http://') }}" onchange="hw.changeAnchorLink(this)">
  <a name="hw-anchor-visit" href="#" target="_blank">{{ _('visit') }}</a>
  <a name="hw-anchor-remove" href="#removeLink" onclick='hw.wysiwyg(event, "createLink")'>{{ _('remove') }}</a><br>
  <input type="radio" name="hw-anchor-type" value="web" onclick="hw.changeAnchorType(this)"><label onclick="hw.changeAnchorType(this.previousSibling)">{{ _('web') }}</label>
  <input type="radio" name="hw-anchor-type" value="email" onclick="hw.changeAnchorType(this)"><label onclick="hw.changeAnchorType(this.previousSibling)">{{ _('email') }}</label>
</div>
<div name="hw-image-options">
  <div>{{ _('change alignment') }}</div>
  <input type="radio" name="hw-image-align" value="none" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('none') }}</label>
  <input type="radio" name="hw-image-align" value="left" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('left') }}</label>
  <input type="radio" name="hw-image-align" value="right" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('right') }}</label>
</div>
<div name="hw-image-editor" class="hw-closed hw-box-black">
  <a href="#closeEditor" class="hw-image-close hw-button hw-button-red" onclick="hw.editImageClose(event)">x</a>
  <div class="hw-image-scratch-wrapper">
    <img name="hw-image-scratch">
  </div>
  <div class="hw-image-actions">
    <br>
    <ul>
      <li><button onclick="hw.editImageRotate()" class="hw-button hw-button-green">{{ _('rotate') }}</button> <button class="hw-button hw-button-orange" name="hw-image-crop" onclick="hw.editImageCrop()" data-select-area="{{ _('now, select an area to crop') }}" data-crop="{{ _('crop') }}">{{ _('crop') }}</button></li>
      <li><hr/></li>
      <li>
        <label>{{ _('width') }}</label>
        <input name="hw-image-width" type="range" min="1" max="1280" step="1" value="0" data-previous="0" onchange="hw.editImageWidth(this)" onmousedown="hw.rangeStart(event, this)" onmousemove="hw.rangeMove(event, this)" onmouseup="hw.rangeEnd(event, this)" onmouseout="hw.rangeEnd(event, this)">
        <input name="hw-image-height" type="hidden" value="0">
      </li>
      <li><label>{{ _('brightness') }}</label><input name="hw-image-brightness" type="range" min="-150" max="150" step="1" value="0" onchange="hw.editImageBrightness(this)" onmousedown="hw.rangeStart(event, this)" onmousemove="hw.rangeMove(event, this)" onmouseup="hw.rangeEnd(event, this)" onmouseout="hw.rangeEnd(event, this)"></li>
      <li><label>{{ _('contrast') }}</label><input name="hw-image-contrast" type="range" min="-1" max="3" step="0.1" value="0" onchange="hw.editImageContrast(this)" onmousedown="hw.rangeStart(event, this)" onmousemove="hw.rangeMove(event, this)" onmouseup="hw.rangeEnd(event, this)" onmouseout="hw.rangeEnd(event, this)"></li>
      <li><input name="hw-image-preview" type="checkbox" onchange="hw.editImagePreview(this)" checked><label>{{ _('preview') }}</label></li>
      <li><hr/></li>
      <li><button onclick="hw.editImageRevert()" class="hw-button hw-button-red">{{ _('revert') }}</button> <button class="hw-button hw-button-blue" onclick="hw.editImageSave()">{{ _('save') }}</button></li>
    </ul>
    <br>
  </div>
  <div class="clear"></div>
</div>
<div name="hw-user-autocomplete"></div>
{% end %}
<div class="clear"></div>
<div name="hw-view">
  <div class="{% if not content and individual_content %}hw-new{% end %} {% if section_template %}hw-template-{{ section_template }}{% end %}" name="hw-wysiwyg" tabindex="2"
    {% if not content or not individual_content %}contenteditable{% end %}
    onmouseup="hw.saveSelection()" onkeyup="hw.saveSelection()" onfocus="hw.restoreSelection()">{% if content and individual_content %}{% raw content.view %}{% end %}</div>
  <div class="clear"></div>
</div>

<script>
{% if individual_content %}
  Event.observe(hw.getFirstElementByName('hw-style'), 'keypress', hw.shortcuts, false);
  Event.observe(hw.getFirstElementByName('hw-code'), 'keypress', hw.shortcuts, false);
  Event.observe(hw.getFirstElementByName('hw-html'), 'keypress', hw.shortcuts, false);
  Event.observe(hw.getFirstElementByName('hw-wysiwyg'), 'keypress', hw.shortcuts, false);

  Event.observe(hw.getFirstElementByName('hw-wysiwyg'), 'keyup', hw.changeBeforeUnloadState, false);
  Event.observe(hw.getFirstElementByName('hw-wysiwyg'), 'mouseup', hw.changeBeforeUnloadState, false);
  Event.observe(window, 'scroll', hw.createOnScroll, false);
{% end %}

{% if not content %}
  hw.sectionChange(hw.getFirstElementByName('hw-section'));
  hw.addClass('hw-container', 'hw-editing');
{% end %}

{% if edit %}
  hw.inForcedEditPage = true;
  hw.createAutoload = true;
  hw.editLoadFunction = function() {
    if (hw.createAutoload) {
      hw.edit(null, true);
    }
  }
  Event.observe(document, 'DOMContentLoaded', hw.editLoadFunction, false);
  Event.observe(window, 'load', hw.editLoadFunction, false);
{% end %}
</script>
