<nav id="hw-sitemap" class="hw-box-blue">
  <ul>
    <li id="hw-sitemap|home" {% if is_owner_viewing %}droppable="true" ondragover="hw.dragOver(event, this)" ondragenter="hw.dragOver(event, this)" ondragleave="hw.dragLeave(event, this)" ondrop="hw.dragDrop(event, this)"{% end %}>{% if content_owner.logo %}<a id="hw-logo" href="{{ nav_url(username=content_owner.username)}}"><img src="{{ content_owner.logo }}" title="{{ content_owner.title }}" alt="{{ _('logo') }}"></a>{% end %}<a id="hw-sitemap|home" href="{{ nav_url(username=content_owner.username)}}" class="{% if content and content.name == 'home' %}hw-selected{% end %}">{{ _('home') }}</a></li>
    {% for section in sitemap %}
      <li id="hw-sitemap|{{ section["name"] }}" {% if is_owner_viewing %}draggable="true" ondragstart="hw.dragStart(event, this)" ondragover="hw.dragOver(event, this)" ondragenter="hw.dragOver(event, this)" ondragleave="hw.dragLeave(event, this)" ondrop="hw.dragDrop(event, this)"{% end %}><a href="{{ nav_url(username=section["username"], section=section["name"])}}" {% if is_owner_viewing %}onclick="hw.editSection(event, this)" onkeyup="hw.renameKeyUp(event, this)" onblur="hw.renameEnd(event, this, false, true)" data-original="{{ section["title"] }}"{% end %}class="{% if section["selected"] %}hw-selected{% end %} {% if section["hidden"] %}hw-content-hidden{% end %}">{{ section["title"] }}</a></li>
      {% if section["albums"] %}
        <li><ul>
            {% for album in section["albums"] %}
              <li id="hw-sitemap|{{ section["name"] }}|{{ album["name"] }}" {% if is_owner_viewing %}draggable="true" ondragstart="hw.dragStart(event, this)" ondragover="hw.dragOver(event, this, true)" ondragenter="hw.dragOver(event, this, true)" ondragleave="hw.dragLeave(event, this)" ondrop="hw.dragDrop(event, this)"{% end %}><a href="{{ nav_url(username=section["username"], section=section["name"], name=album["name"])}}" {% if is_owner_viewing %}onclick="hw.editSection(event, this, true)" onkeyup="hw.renameKeyUp(event, this, true)" onblur="hw.renameEnd(event, this, true, true)" data-original="{{ album["title"] }}"{% end %} class="{% if album["selected"] %}hw-selected{% end %} {% if album["hidden"] %}hw-content-hidden{% end %}">{{ album["title"] }}</a></li>
            {% end %}
        </ul></li>
      {% end %}
    {% end %}

    <li id="hw-sidebar-search">
      <form method="get" action="{{ nav_url(username=content_owner.username, section='search') }}">
        <input type="search" name="q" {% if query %}value="{{ query }}"{% else %}placeholder="{{ _('search') }}"{% end %} required>
      </form>
    </li>

    {% if content_owner.newsletter_endpoint %}
      <li id="hw-sidebar-newsletter">
        <form method="post" action="{{ content_owner.newsletter_endpoint }}">
          <input name="email" size="20" placeholder="email@server.com" type="text">
          <input value="{{ _('subscribe') }}" type="submit">
        </form>
      </li>
    {% end %}

    {% if content_owner.sidebar_ad %}
      <li id="hw-sidebar-ad">
        {% raw content_owner.sidebar_ad %}
      </li>
    {% end %}

    {% if content_owner.tipjar %}
      <li id="hw-sidebar-tipjar">
        {% raw content_owner.tipjar %}
      </li>
    {% end %}

    {% if content_owner.license %}
      <li id="hw-sidebar-license">
        {% if content_owner.license == 'http://purl.org/atompub/license#unspecified' %}
          <span id="hw-copyright">{{ _("Copyright %(date)s by %(name)s") % { "date": current_datetime.year, 'name': content_owner.name } }}</span>
        {% else %}
          {% raw licenses[content_owner.license]["html"] %}
        {% end %}
      </li>
    {% end %}

    <li id="hw-sidebar-helloworld">Powered by <a href="http://www.helloworldprogram.com" rel="generator">Hello, world.</a></li>
  </ul>
</nav>
