{% extends "base.html" %}

{% block extra_meta %}
  <link rel="alternate" type="application/atom+xml"
        title="{{ content_owner.title }}"
        href="{{ nav_url(username=content.username, section='feed') }}" />
  {% if main_section_title and main_section_name != 'home' %}
  <link rel="alternate" type="application/atom+xml"
        title="{{ content_owner.title }} - {{ main_section_title }}"
        href="{{ nav_url(username=content.username, section='feed',
            category=main_section_name) }}" />
  {% end %}
  {% if main_album_title %}
  <link rel="alternate" type="application/atom+xml"
        title="{{ content_owner.title }} - {{ main_album_title }}"
        href="{{ nav_url(username=content.username, section='feed',
          category=main_section_name, album_feed=main_album_name) }}" />
  {% end %}
  <link rel="author" href="{{ nav_url(username=content.username,
    section='about') }}">
  <link rel="search" href="{{ nav_url(username=content.username,
      section='opensearch') }}" type="application/opensearchdescription+xml"
    title="{{ content_owner.title }}">
  {% if content_owner.description %}
    <meta name="description" content="{{ content_owner.description }}" />
  {% end %}
  <link rel="canonical" href="{{ content_url(content) }}">
  <link rel="alternate" type="text/xml+oembed" href="{{ nav_url(
      section='oembed', url=content_url(content)) }}"
    title="{{ content.title }}">
  {% if content.comments_count %}
    <link rel="replies" type="application/atom+xml"
          href="{{ nav_url(username=content.username, section='feed',
             comments=content_url(content)) }}"
          thr:count="{{ content.comments_count }}"
          thr:updated="{{ content.comments_updated.strftime(
              '%Y-%m-%dT%H:%M:%S+00:00') }}" />
  {% end %}

  <meta property="og:url"   content="{{ content_url(content, host=True) }}">
  <meta property="og:title" content="{{ content.title }}">
  {% if content_thumb %}
  <meta property="og:image" content="{{ nav_url(host=True,
      section=content_thumb) }}">
  {% end %}
  {% if content_owner.title %}
  <meta property="og:site_name" content="{{ content_owner.title }}">
  {% end %}
  {% if content_owner.google_analytics %}
    <script>
      var _gaq = [['_setAccount', '{{ content_owner.google_analytics }}'],
          ['_gat._anonymizeIp'], ['_trackPageview']];

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ?
            'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% end %}
{% end %}

{% block favicon %}
  <link rel="shortcut icon"
        href="{% if content_owner.favicon %}
                /{{ content_owner.favicon }}
              {% else %}
                {{ static_url('favicon.ico') }}
              {% end %}">
{% end %}

{% block extra_css %}
  {% if is_owner_viewing %}
    <link id="hw-stylesheet-create" rel="stylesheet" type="text/css"
          href="{{ static_url('css/all_create.css', 'css/all_create.inc') }}">
  {% end %}

  {% if content_owner.theme %}
    <link id="hw-stylesheet-theme" rel="stylesheet" type="text/css"
          href="{{ static_url(content_owner.theme) }}">
  {% end %}

  {% raw section_style %}
  {% raw album_style %}
  {% raw content.style.replace("<style", '<style id="hw-content-style"', 1) %}
  {% block even_more_css %}{% end %}
{% end %}

{% block extra_js %}
  {% if is_owner_viewing %}
    <script src="{{ static_url('js/all_create.js', 'js/all_create.inc') }}">
    </script>
  {% end %}
  <script>
    hw.xsrf = '{% raw xsrf_form_html() %}';
    hw.uploadUrl = '{{ nav_url(section='upload') }}';
    hw.setMsg('uploading', "{% raw js_escape(_('uploading...')) %}");
    hw.setMsg('image-info', "{% raw js_escape(_('caption')) %}");
    hw.setMsg('via', "{% raw js_escape(_('via')) %}");
  </script>

  {% raw section_code %}
  {% raw album_code %}
  {% raw content.code %}
{% end %}

{% block extra_head_html %}
  {% raw content_owner.extra_head_html %}
{% end %}

{% block title %}
  {% if content_owner.title %}
  {{ content_owner.title }}
  {% end %}
  {% if content_owner.title and content.title %}
  -
  {% end %}
  {{ content.title }}
{% end %}

{% block content %}
  <header id="hw-header">
    <h1 id="hw-main-title">{{ content_owner.title }}</h1>
    <h2 id="hw-main-description">{{ content_owner.description }}</h2>
  </header>

  {% module SiteMap(content_owner=content_owner, content=content) %}

  <article id="hw-content" class="hw-invisible-transition
       {% if is_owner_viewing %}
         hw-owner-viewing
       {% end %}
       {% if section_template %}
         hw-template-{{ section_template }}
       {% end %}">
    {% block create %}
      {% if is_owner_viewing %}
        {% module Create(content, individual_content=False) %}
      {% end %}
    {% end %}
    {% block user_content %}{% end %}
  </article>

  <footer id="hw-footer">
    <span id="hw-helloworld">{{ _('powered by') }}<br>
      <a href="http://www.helloworldprogram.com" rel="generator">
        Hello, world.
      </a>
    </span>
    {% if content_owner.theme_title != 'default' %}
      <span id="hw-theme">
        <span id="hw-theme-title">
          {% if content_owner.theme_link %}
            {% raw _('<a href="%(link)s">%(title)s</a> design') % \
                { 'link': content_owner.theme_link,
                  'title': content_owner.theme_title } %}
          {% elif content_owner.theme_title %}
            {{ _('%(title)s design') % { 'title': content_owner.theme_title } }}
          {% end %}
        </span>
        <span id="hw-theme-author">
          {% if content_owner.theme_author %}
            {% if content_owner.theme_author_link %}
              {% raw _('by <a href="%(link)s">%(author)s</a>') % \
                 { 'link': content_owner.theme_author_link,
                   'author': content_owner.theme_author } %}
            {% elif content_owner.theme_author %}
              {{ _('by %(author)s') % \
                  { 'author': content_owner.theme_author } }}
            {% end %}
          {% end %}
        </span>
      </span>
    {% end %}
  </footer>
{% end %}

{% block end_content %}
  {% if is_store %}
    {% module StoreCheckout(content, content_owner) %}
    <script>
      hw.updateCartCount();
    </script>
  {% end %}
{% end %}

{% block extra_body_end_html %}
  {% raw content_owner.extra_body_end_html %}
{% end %}
