{% extends "base_backend.html" %}

{% block extra_js %}
<script>
  var urls = [
  {% for links_index, link in enumerate(links) %}
    {% for index, url in enumerate(link['urls']) %}
      {
        'name': '{{ link['content'].name }}',
        'content_url': '{{ content_url(link['content']) }}',
        'url': '{{ url }}'
      }{% if links_index < len(links) and index < len(link['urls']) %},{% end %}
    {% end %}
  {% end %}
  ];

  var index = 0;

  function checkLink() {
    if (paused) {
      return;
    }

    var progress = (100.0 * index / urls.length).toFixed(1);
    hw.$('progress').setAttribute('value', progress);
    hw.$('progress').innerHTML = progress + '%';

    var linkBroken = function(xhr) {
      hw.$('output').innerHTML +=
          '<a href="' + urls[index]['content_url'] + '">' + urls[index]['name'] + '</a>: '
          + urls[index]['url'] + '<br>';
      ++index;
      checkLink();
    };

    var linkResponse = function(xhr) {
      if (xhr.responseText == '0') {
        linkBroken();
        return;
      }
      ++index;
      checkLink();
    };

    hw.$('current').innerHTML = urls[index]['name'] + ': ' + urls[index]['url']

    new hw.ajax(hw.baseUri() + 'check_broken_links?url=' + encodeURIComponent(urls[index]['url']),
      { method: 'get',
        onSuccess: linkResponse,
        onError: linkBroken });
  }

  var paused = false;

  function pause() {
    paused = !paused;
    var button = hw.$('pause');

    button.innerHTML = paused ? button.getAttribute('data-resume') : button.getAttribute('data-pause');

    if (!paused) {
      checkLink();
    }
  }
</script>
{% end block %}

{% block even_more_css %}
  <style>
    #current {
      vertical-align: text-top;
      width: 500px;
      height: 1em;
      overflow: hidden;
      white-space: nowrap;
    }

    #pause {
      float: right;
      margin-right: 10em;
      margin-top: 1em;
    }

    strong {
      font-weight: bold;
    }

    #admin h1 {
      border-bottom: 1px dotted black;
    }
  </style>
{% end %}

{% block title %}
  {{ _('Check Broken Links') }}
{% end %}

{% block backend_content %}
<div id="admin">
  <button id="pause" type="button" onclick="pause()" data-pause="{{ _('Pause') }}" data-resume="{{ _('Resume') }}">{{ _('Pause') }}</button>

  <strong>{{ _('Progress:') }}</strong> <progress id="progress" value="0" max="100">%0</progress><br>
  <strong>{{ _('Currently checking:') }}</strong> <div id="current"></div><br>
  <h1>{{ _('Broken Links') }}</h1>

  <output id="output"></output>
  <script>
    checkLink();
  </script>
</div>
{% end %}
