{% if individual_content and content.section != 'main' and start %}
  <nav class="hw-neighbors {% if section_sort_type != "" %}hw-reverse-sort{% end %}">
    {% comment NOTE whitespace is important here %}<a
       rel="last" class="hw-last hw-button" href="{{ content_url(last, host=True) }}">{{ _("last") }}</a><a 

       rel="next" class="hw-next hw-button {% if not next %} hw-disabled {% end %}"
        {% if next %}
          href="{{ content_url(next) }}"
          {% set title = "" %}
          {% if content_owner.title %}
            {% set title = content_owner.title %}
          {% end %}
          {% if content_owner.title and next.title %}
            {% set title += ' - ' %}
          {% end %}
          {% set title += next.title %}
          title="{{ title }}"
          {% if content.style or content.code or next.style or next.code or section_code or album_code %}
            data-disallow-magic="1"
          {% else %}
            onclick='hw.navigate(event, "{{ content_url(next, host=True) }}", "{% raw js_in_html_escape(title) %}")'
          {% end %}
        {% end %}>{{ _("next") }}</a><a

       rel="up" class="hw-top hw-button" href="{{ top_url }}">{% if content.album %}{{ content.album }}{% else %}{{ content.section }}{% end %}</a><a

       rel="prev" class="hw-previous hw-button {% if not previous %} hw-disabled {% end %}"
        {% if previous %}
          href="{{ content_url(previous) }}"
          {% set title = "" %}
          {% if content_owner.title %}
            {% set title = content_owner.title %}
          {% end %}
          {% if content_owner.title and previous.title %}
            {% set title += ' - ' %}
          {% end %}
          {% set title += previous.title %}
          title="{{ title }}"
          {% if content.style or content.code or previous.style or previous.code or section_code or album_code %}
            data-disallow-magic="1"
          {% else %}
            onclick='hw.navigate(event, "{{ content_url(previous, host=True) }}", "{% raw js_in_html_escape(title) %}")'
          {% end %}
        {% end %}>{{ _("previous") }}</a><a
        
       rel="start" class="hw-start hw-button" href="{{ content_url(start, host=True) }}">{{ _("first") }}</a>
  </nav>
{% end %}

{% if individual_content %}
  {% set content_list = [content] %}
{% else %}
  {% set content_list = feed %}
{% end %}

{% if 'content' in display and content and content.template == 'events' %}
  <a href="{{ content_url(content, past=1) }}" style="float: right;">show past events</a><br>
{% end %}

<div class="hw-anchor-editor">
  <header onmousedown="hw.dragElementStart(event, this)">{{ _('link editor') }}</header>
  <input class="hw-anchor-link" name="hw-anchor-link" type="text" placeholder="{{ _('http://') }}" onchange="hw.changeAnchorLink(this)">
  <a class="hw-anchor-visit" href="#" target="_blank">{{ _('visit') }}</a>
  <a class="hw-anchor-remove" href="#removeLink" onclick='hw.wysiwyg(event, "createLink")'>{{ _('remove') }}</a><br>
  <input type="radio" class="" name="hw-anchor-type" value="web" onclick="hw.changeAnchorType(this)"><label onclick="hw.changeAnchorType(this.previousSibling)">{{ _('web') }}</label>
  <input type="radio" name="hw-anchor-type" value="email" onclick="hw.changeAnchorType(this)"><label onclick="hw.changeAnchorType(this.previousSibling)">{{ _('email') }}</label>
</div>
<div class="hw-image-options">
  <header onmousedown="hw.dragElementStart(event, this)">{{ _('image options') }}</header>
  <input type="radio" name="hw-image-align" value="none" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('none') }}</label>
  <input type="radio" name="hw-image-align" value="left" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('left') }}</label>
  <input type="radio" name="hw-image-align" value="right" onclick="hw.changeImageAlign(this)"><label onclick="hw.changeImageAlign(this.previousSibling)">{{ _('right') }}</label>
  <!--<a href="#edit-image" class="hw-edit-image" onclick="hw.editImage(event, this)">{{ _('edit image') }}</a>-->
</div>

{% for item in content_list %}
<section class="{% if individual_content %} hw-individual-content {% end %}{% if item.is_remote %} hw-remote {% end %} {% if section_template %}hw-template-{{ section_template }}{% end %}" {% if item.is_remote %}data-remote-profile-url="{{ item.from_user }}" data-remote-id="{{ item.id }}" data-unread="{% if item.is_remote and item.read %}false{% else %}true{% end %}" onclick="hw.markSectionAsRead(this)"{% end %}>
  {% if not item.restricted %}
    <header>
      <h1 class="hw-content-title">
        {% if item.is_remote %}
        <a href="{{ item.link }}" target="_blank" data-remote-id="{{ item.id }}" data-list-mode="{{ list_mode }}" onclick="hw.listOpen(event, this)">{% if item.is_spam %}<strong>[{{ _('spam') }}]</strong>{% end %}{% if item.type != 'post' %}<strong>{{ item.type }}</strong>{% end %} {{ item.username }}: {% if item.title %}{{ item.title }}{% else %}{{ _('(untitled)') }}{% end %}</a>
        {% else %}
        <a href="{{ content_url(item) }}" {% if is_owner_viewing and item.hidden %}class="hw-content-hidden"{% end %} data-contentname="{{ item.name }}" data-local-id="{{ item.id }}" {% if list_mode %}data-list-mode="{{ list_mode }}" onclick="hw.listOpen(event, this)"){% end %}>{% if item.title %}{{ item.title }}{% else %}{{ _('(untitled)') }}{% end %}</a>
        {% end %}
        {% if individual_content and is_store %}
          {% module StoreButton(item, content_owner) %}
        {% end %}
        {% if not item.is_remote and item.date_start and item.date_end %}
          <br>
          {{ _('Starts:') }} {{ item.date_start }}<br>
          {% if item.date_repeats %}
            {{ _('Repeats every day', 'Repeats every %(repeats)s day', len(item.date_repeats)) % { "repeats": item.date_repeats } }}<br>
          {% end %}
          {{ _('Ends:') }} {{ item.date_end }}<br>
        {% end %}
      </h1>
      {% if not list_mode %}
        {% if item.is_remote and item.creator %}
          <span class="hw-creator">{{ _('by %(creator)s') % { "creator": item.creator } }}</span>
        {% end %}
        {% if referrer %}
          <h2 class="hw-warning">
            {{ _('You were redirected here from: ') }} <a href="{{ referrer }}">{{ referrer }}</a>
          </h2>
        {% end %}
      {% end %}
    </header>

    {% if not list_mode %}
      {% if individual_content and is_owner_viewing %}
        {% module Create(content) %}
      {% else %}
        <div {% raw bidi(item.view) %} class="hw-view {% if individual_content %}hw-individual-content{% else %}hw-aggregate-content{% end %}">
          {% raw item.view %}
        </div>
      {% end %}

      <div class="clear"></div>

      <footer class="hw-info">
        {% if item.is_remote %}
          {% module Moderate(item) %}
        {% end %}

        <span class="hw-basic-info">
          {% if single_user_site %}
            {{ item.username }}
          {% end %}
          {{ _("posted") }} <time pubdate>{{ locale.format_date(item.date_created) }}</time>
          {% if item.date_updated and item.date_updated != item.date_created %}
            ({{ _("updated") }} <time>{{ locale.format_date(item.date_updated) }}</time>)
          {% end %}
          {% if item.comments_count %}
            • ({{ _("%(comments_count)s comment", "%(comments_count)s comments", item.comments_count) % { "comments_count": locale.friendly_number(item.comments_count) } }})
          {% end %}
          {% if item.is_remote %}
            • <a href="{{ item.link }}" target="_blank">{{ _('view post') }}</a>
            • <a href="#markAsUnread" onclick="hw.markAsUnread(event, this)" class="hw-mark-unread">{{ _('keep unread') }}</a>
          {% else %}
            • {{ _("%(count)s human view", "%(count)s human views", item.count) % { "count": locale.friendly_number(item.count) } }}
            • {{ _("%(count)s robot view", "%(count)s robot views", item.count_robot) % { "count": locale.friendly_number(item.count_robot) } }}
            {% if item.thread %}
                • <a href="{{ item.thread.split(':')[2] }}">{{ _('view post') }}</a>
              {% end %}
            {% end %}
        </span>
        {% if not item.is_remote and not is_owner_viewing and username != item.username %}
          <img src="{{ nav_url(section='stats', url=content_url(item)) }}">
        {% end %}
        <div class="clear"></div>
        {% if individual_content and not item.is_remote %}
          {% if current_user and current_user["email"] %}
          <form class="hw-comment-form" method="post" action="/api" onsubmit="return false" data-error="{{ _('error submitting your comment. please try again.') }}">
            {% raw xsrf_form_html() %}

            <span class="hw-comment-options-wrapper">
              <span class="hw-comment-upload-wrapper"></span>
              <script>hw.uploadButton(function(json) { hw.processFiles(json); }, null, false, true);</script>
              <a href="#help" class="hw-comment-help-button hw-button" onclick="hw.commentHelp(event)">?</a>
            </span>
            <div class="hw-comment-help hw-slide-transition hw-closed">
              {# yeaaaah, how awesome is this?!? i iz l33t programm3r #}
              *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= <strong>{{ _('bold') }}</strong><br>
              !&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= {{ _('link (highlight text first)') }}<br>
              _&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= <u>{{ _('underline') }}</u><br>
              paste&nbsp;&nbsp;= {{ _('urls will be automatically converted into rich media!') }}<br>
              tab&nbsp;&nbsp;&nbsp;&nbsp;= {{ _('list') }}<br>
              ---&nbsp;&nbsp;&nbsp;&nbsp;= {{ _('separator') }}<br>
              {{ _('typing in special letter twice, for example, ** will give you one * instead of bold') }}<br>
            </div>
            <button class="hw-button hw-button-save" type="button" onclick="hw.commentSubmit()">{% if section_template == 'forum' %}{{ _('submit') }}{% else %}{{ _('submit comment') }}{% end %}</button>
            <div name="hw-comment-input" class="hw-comment-input" contenteditable type="text" data-local-username="{{ content.username }}" data-local-name="{{ content.name }}"
                 onmouseup="hw.saveSelection(event)" onkeyup="hw.saveSelection()" onfocus="hw.restoreSelection()" onbeforepaste="hw.onbeforepaste(event)" onpaste="hw.paste(event)"></div>
            <script>
              Event.observe(hw.$c('hw-comment-input'), 'keypress', hw.wysiwygKeys, false);
            </script>
            <div class="clear"></div>
          </form>
          {% else %}
            <h2 class="hw-comment-header">{{ _('you need to be logged in to leave a comment.') }}</h2>
            <a class="hw-button hw-button-login" href="{{ nav_url(section='login', next=handler.request.uri) }}" data-logging-in="logging in..." data-failed="{{ _('login failed. try again.') }}" onclick="hw.login(event, this)">{{ _('login') }}</a>
          {% end %}
        {% end %}

        <ul class="hw-comments">
        {% for comment in item.comments_list %}
          {% if comment.is_remote %}
            <li data-post-id="{{ comment.post_id }}" data-post-user="{% if comment.from_user.startswith('http://') %}{{ comment.from_user }}{% end %}">
              <img src="{% if comment.avatar %}{{ comment.avatar }}{% else %}{{ static_url('img/pixel.gif') }}{% end %}" />
              {% raw _('%(profile_url)s') % { "profile_url": ('<a href="' + comment.from_user + '">' + comment.username + '</a>' if comment.from_user.startswith('http://') else comment.from_user.split('@')[0]) } %}
              <div class="hw-comment-text">{% raw comment.view %}</div>
                {% module Moderate(comment) %}
              <div class="clear"></div>
            </li>
          {% else %}
            <li data-post-id="tag:{{ handler.request.host }},{{ tag_date }}:{{ content_url(comment) }}" data-post-user="{{ nav_url(username=comment.username) }}">
              <img src="{% if comment.avatar %}{{ comment.avatar }}{% else %}{{ static_url('img/pixel.gif') }}{% end %}" />
              {% raw _('<a href="%(profile_url)s">%(name)s</a>') % { "profile_url": nav_url(username=comment.username), "name": comment.username } %}
              <div class="hw-comment-text">{% raw comment.view %}</div>
                {% module Moderate(comment) %}
              <div class="clear"></div>
            </li>
          {% end %}
        {% end %}
        {% set phrases = ['<a href="%(profile_url)s">%(name)s</a> thinks this is the bee\'s knees.', 'this rocks <a href="%(profile_url)s">%(name)s</a>\'s socks off.', '<a href="%(profile_url)s">%(name)s</a> crapped their pants when they saw this.', '<a href="%(profile_url)s">%(name)s</a> wants to name their baby after this page.'] %}
        {% for fave in favorites %}
          {% set phrase = phrases[random.randint(0, len(phrases) - 1)] %}

          <li>{% raw _(phrase) % { "profile_url": fave.from_user, "name": fave.username } %}</li>
        {% end %}
        </ul>

        <div class="clear"></div>
      </footer>
    {% end %}
  {% end %}
</section>
{% end %}
