{% extends "base_content.html" %}

{% block user_content %}
  <a id="hw-feed-page-{{ offset }}"></a>
  {% module ContentView(feed) %}

  <script>
    hw.loadMoreObject = new hw.loadMore('{{ content_url(content) }}',
        {{ offset }}, null, {{ is_reverse }});
    hw.setMsg('loading', "{% raw js_escape(_('loading...')) %}");
    Event.observe(window, 'scroll', function() {
      hw.loadMoreObject.onScroll();
    }, false);

    {# In case the page loads with just one item for example, we load
       the next page as well. #}
    if (hw.$$('section').length < {{ page_size }}) {
      hw.loadMoreObject.onScroll(null, true /* Force load. */);
    }
  </script>
{% end %}
