{% extends "base_backend.html" %}

{% block even_more_css %}
  <style>
    #hw-user {
      display: none;
    }
    #hw-sidebar {
      width: 295px;
    }
    #hw-sidebar-static {
      display: block;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
      -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
      -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1) inset;
    }
    #hw-sidebar-scroll {
      top: 45px;
    }
    #hw-backend-content {
      margin-left: 340px;
    }
  </style>
{% end %}

{% block extra_js %}
  <script src="{{ static_url('js/all_create.js', 'js/all_create.inc') }}"></script>
  <script src="{{ static_url('js/customize.js') }}"></script>

  <script>
    hw.setMsg('confirm-delete', "{% raw js_escape(_('ya sure there, buddy?')) %}");
    hw.setMsg('delete-failed', "{% raw js_escape(_("no good, mate.")) %}");
    hw.setMsg('error', "{% raw js_escape(_('no good, mate.')) %}");
    hw.setMsg('saved', "{% raw js_escape(_('saved!')) %}");
    hw.setMsg('uploading', "{% raw js_escape(_('uploading...')) %}");
    hw.xsrf = '{% raw xsrf_form_html() %}';
    hw.uploadUrl = '{{ nav_url(section='upload') }}';
    Event.observe(document, 'DOMContentLoaded', hw.customSetupFields, false);
    Event.observe(window, 'load', hw.customSetupFields, false);
  </script>
{% end %}

{% block title %}
  {{ _('Customize') }}
{% end %}

{% block sidebar_static %}
  <span id="hw-customize-response" class="hw-response hw-hidden-transition hw-hidden" data-saved="{{ _("saved.") }}"
        data-bad="{{ _("no good, mate.") }}">&nbsp;</span>
  <a id="hw-customize-close" href="{{ nav_url(section='dashboard') }}" class="hw-button">{{ _('close') }}</a>
  <a id="hw-customize-save" href="#save" data-save="{{ _("save") }}" data-saving="{{ _("saving") }}" class="hw-button hw-button-save" onclick="hw.customSave(event, this)">{{ _('save') }}</a>
  <div class="clear"></div>
{% end %}

{% block sidebar %}
  <form id="hw-customize" onsubmit="return false;">
    {% raw xsrf_form_html() %}

    <fieldset open>
      <div class="hw-fields">
        <label for="hw-themes">
          <span class="hw-label">{{ _('theme:') }}</span>
          <script>hw.uploadButton(window.location.reload, 'themes');</script>
          <select class="hw-field" name="theme" id="hw-themes">
            {% for theme in sorted(themes) %}
              <option value="{{ theme }}" {% if (user.theme == theme) or (not user.theme and theme == 'static/css/themes/default.css') %}selected{% end %}>{{ theme }}</option>
            {% end %}
          </select>
        </label>
      </div>
    </fieldset>

    <fieldset open>
      <legend onclick="hw.details(this)"><span class="hw-arrow"></span>{{ _('Basic') }}</legend>
      <div class="hw-fields">
        <label for="hw-title">
          <span class="hw-label">{{ _('title') }}</span>
          <input id="hw-title" class="hw-field" name="title" maxlength="255" type="text" placeholder="{{ _('title') }}" value="{{ user.title }}">
        </label>
        <label for="hw-description">
          <span class="hw-label">{{ _('description') }}</span>
          <textarea id="hw-description" class="hw-field" name="description" maxlength="255" type="text">{{ user.description }}</textarea>
        </label>
        <label for="hw-customize-logo">
          <span class="hw-label">{{ _('logo') }}</span>
          <script>hw.uploadButton(function(json) { hw.$('hw-customize-logo').value = json['url']; });</script>
          <input id="hw-customize-logo" class="hw-field" name="logo" type="text" placeholder="{{ _('logo') }}" value="{{ user.logo }}">
        </label>
        <label for="hw-favicon">
          <span class="hw-label">{{ _('favicon') }}</span>
          <script>hw.uploadButton(function(json) { hw.$('hw-favicon').value = json['url']; });</script>
          <input id="hw-favicon" class="hw-field" name="favicon" type="text" placeholder="{{ _('favicon') }}" value="{{ user.favicon }}">
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend onclick="hw.details(this)"><span class="hw-arrow"></span>{{ _('Appearance') }}</legend>
      <div class="hw-fields">
        <label for="hw-background">
          <span class="hw-label">{{ _('background') }}</span>
          <script>hw.uploadButton(function(json) { hw.$('hw-background').value = json['url']; });</script>
          <input id="hw-background" class="hw-field" name="background" type="text" placeholder="{{ _('background') }}" value="{{ user.background }}">
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend onclick="hw.details(this)"><span class="hw-arrow"></span>{{ _('More Settings') }}</legend>
      <div class="hw-fields">
        <label for="hw-license-type" id="hw-license-label">
          <span class="hw-label">{{ _('license') }}</span>
          <input id="hw-license-type" class="hw-field" name="license" type="url" value="{{ user.license }}">
        </label>
        <label>
          <span class="hw-label">{{ _('common licenses:') }}</span>
          <select id="hw-licenses" class="hw-field" onchange="hw.$('hw-license-type').value = this.value">
            <option value=""></option>
            {% for license in sorted(licenses.iterkeys(), reverse=True) %}
              <option value="{{ license }}">{{ licenses[license]["name"] }}</option>
            {% end %}
          </select>
        </label>
        <label for="hw-google-analytics">
          <span class="hw-label hw-label-textarea">{{ _('google analytics') }} {{ _('(e.g. UA-XXXXXX-X)') }}</span>
          <input id="hw-google-analytics" class="hw-field" maxlength="255" name="google_analytics" type="text" placeholder="{{ _('google analytics id') }}" value="{{ user.google_analytics }}">
        </label>
        <label for="hw-tipjar">
          <span class="hw-label hw-label-textarea">{{ _('tipjar') }} {{ _('(javascript or link)') }}</span>
          <textarea id="hw-tipjar" class="hw-field" name="tipjar" type="text">{{ user.tipjar }}</textarea>
        </label>
        <label for="hw-sidebar-ad-input">
          <span class="hw-label hw-label-textarea">{{ _('sidebar ad') }} (javascript)</span>
          <textarea id="hw-sidebar-ad-input" class="hw-field" name="sidebar_ad" type="text">{{ user.sidebar_ad }}</textarea>
        </label>
        <label for="hw-newsletter-endpoint">
          <span class="hw-label hw-label-textarea">{{ _('newsletter hookup') }} {{ _('(signup url)') }}</span>
          <textarea id="hw-newsletter-endpoint" class="hw-field" name="newsletter_endpoint" type="text">{{ user.newsletter_endpoint }}</textarea>
        </label>
        <label for="hw-currency">
          <span class="hw-label">{{ _('currency') }}</span>
          <select class="hw-field" name="currency" id="hw-currency">
            {% for currency in sorted(currencies) %}
              <option value="{{ currency }}" {% if user.currency == currency or (not user.currency and currency == 'USD') %}selected{% end %}>{{ currency }}</option>
            {% end %}
          </select>
        </label>
        <label for="hw-adult-content">
          <span class="hw-label">{{ _('adult content') }}</span>
          <input id="hw-adult-content" class="hw-field" name="adult_content" type="checkbox" {% if user.adult_content %}checked="checked"{% end %}>
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend onclick="hw.details(this)"><span class="hw-arrow"></span>{{ _('Personal') }}</legend>
      <div class="hw-fields">
        <label for="hw-name">
          <span class="hw-label">{{ _('name') }}</span>
          <input id="hw-name" class="hw-field" name="name" maxlength="255" type="text" placeholder="{{ _('name') }}" value="{{ user.name }}">
        </label>
        <label for="hw-oauth">
          <span class="hw-label">{{ _('email') }}</span>
          <input id="hw-oauth" class="hw-field" name="oauth" maxlength="255" type="text" data-default="{{ user.oauth }}" placeholder="{{ _('email') }}" value="{{ user.oauth }}" onchange="if (!confirm('{{ js_escape(_('double check your address - you won\'t be able to login again if it\'s wrong. is this correct? ')) }}' + this.value)) this.value=this.getAttribute('data-default')">
        </label>
      </div>
    </fieldset>

    <fieldset class="hw-customize-tools">
      <legend onclick="hw.details(this)"><span class="hw-arrow"></span>{{ _('Tools') }}</legend>
      <div class="hw-fields">
        {% if is_superuser %}
          <a href="{{ nav_url(section='users') }}">{{ _('user admin') }}</a><br>
          <a href="{{ nav_url(section='restart', next=handler.request.uri) }}">{{ _('restart server') }}</a><br>
          <hr>
        {% end %}
        <a href="{{ nav_url(section='check_broken_links') }}">{{ _('check broken links') }}</a><br>
        <a href="{{ nav_url(section='data_liberation') }}">{{ _('data liberation') }}</a><br>
        <a id="hw-delete-account" class="hw-button hw-button-delete" href="#deleteAccount" onclick="hw.deleteAccount(event, '{{ user.username }}')">{{ _('delete account') }}</a>
      </div>
    </fieldset>
  </form>
{% end %}
