{% extends "base_backend.html" %}

{% block extra_js %}
  <script src="{{ static_url('js/customize.js') }}"></script>

  <script>
    hw.setMsg('confirm-delete', "{% raw js_escape(_('ya sure there, buddy?')) %}");
    hw.setMsg('delete-failed', "{% raw js_escape(_("no good, mate.")) %}");
  </script>
{% end %}

{% block title %}
  {{ _('Customize') }}
{% end %}

{% block backend_content %}
  <div id="customize">
    <h1>{{ _('Customize Site') }}</h1>
    <form id="customize-form" method="post" action="{{ nav_url(section='customize') }}" class="hw-box-blue">
      {% raw xsrf_form_html() %}
      <dl>
        <dt><label for="hw-name">{{ _('name:') }}</label></dt>
        <dd><input id="hw-name" name="name" maxlength="255" type="text" placeholder="{{ _('name') }}" value="{{ user.name }}"></dd>
        <dt><label for="hw-oauth">{{ _('email:') }}</label></dt>
        <dd><input id="hw-oauth" name="oauth" maxlength="255" type="text" data-default="{{ user.oauth }}" placeholder="{{ _('email') }}" value="{{ user.oauth }}" onchange="if (!confirm('{{ js_escape(_('double check your address - you won\'t be able to login again if it\'s wrong. is this correct? ')) }}' + this.value)) this.value=this.getAttribute('data-default')"></dd>
        <dt><label for="hw-title">{{ _('title:') }}</label></dt>
        <dd><input id="hw-title" name="title" maxlength="255" type="text" placeholder="{{ _('title') }}" value="{{ user.title }}"></dd>
        <dt><label for="hw-description">{{ _('description:') }}</label></dt>
        <dd><input id="hw-description" name="description" maxlength="255" type="text" placeholder="{{ _('description') }}" value="{{ user.description }}"></dd>
        <dt><label for="hw-customize-logo">{{ _('logo:') }}</label></dt>
        <dd><input id="hw-customize-logo" name="logo" type="text" placeholder="{{ _('logo') }}" value="{{ user.logo }}"> <button class="hw-button hw-button-orange" onclick="hw.preventDefault(event);hw.selectFile(hw.$('hw-customize-logo'))">{{ _('select image') }}</button></dd>
        <dt><label for="hw-favicon">{{ _('favicon:') }}</label></dt>
        <dd><input id="hw-favicon" name="favicon" type="text" placeholder="{{ _('favicon') }}" value="{{ user.favicon }}"> <button class="hw-button hw-button-orange" onclick="hw.preventDefault(event);hw.selectFile(hw.$('hw-favicon'))">{{ _('select image') }}</button></dd>
        <dt><label for="hw-themes">{{ _('theme:') }}</label></dt>
        <dd>
          <select name="theme" id="hw-themes">
            <option value=""></option>
            {% for theme in sorted(themes) %}
              <option value="{{ theme }}" {% if user.theme == theme %}selected{% end %}>{{ theme }}</option>
            {% end %}
          </select>
          <button class="hw-button hw-button-orange" onclick="hw.preventDefault(event);hw.selectFile(hw.$('hw-themes'), window.location.reload, 'themes')">{{ _('upload theme') }}</button>
        </dd>
        <dt><label for="hw-currency">{{ _('currency:') }}</label></dt>
        <dd>
          <select name="currency" id="hw-currency">
            {% for currency in sorted(currencies) %}
              <option value="{{ currency }}" {% if user.currency == currency or (not user.currency and currency == 'USD') %}selected{% end %}>{{ currency }}</option>
            {% end %}
          </select>
        </dd>
        <dt><label for="hw-background">{{ _('background image:') }}</label></dt>
        <dd><input id="hw-background" name="background" type="text" placeholder="{{ _('background') }}" value="{{ user.background }}"> <button class="hw-button hw-button-orange" onclick="hw.preventDefault(event);hw.selectFile(hw.$('hw-background'))">{{ _('select image') }}</button></dd>
        <dt><label for="hw-license-type">{{ _('license:') }}</label></dt>
        <dd>
          <input id="hw-license-type" name="license" type="url" value="{{ user.license }}">
          <label>Common licenses:</label>
          <select id="licenses" onchange="hw.$('hw-license-type').value = this.value">
            <option value=""></option>
            {% for license in sorted(licenses.iterkeys(), reverse=True) %}
              <option value="{{ license }}">{{ licenses[license]["name"] }}</option>
            {% end %}
          </select>
        </dd>
        <dt><label for="hw-google-analytics">{{ _('google analytics id:') }}</label><br><span>{{ _('(e.g. UA-XXXXXX-X)') }}</span></dt>
        <dd><input id="hw-google-analytics" maxlength="255" name="google_analytics" type="text" placeholder="{{ _('google analytics id') }}" value="{{ user.google_analytics }}"></dd>
        <dt><label for="hw-tipjar">{{ _('tipjar:') }}</label><br><span>{{ _('(javascript or link)') }}</span></dt>
        <dd><textarea id="hw-tipjar" name="tipjar" type="text">{{ user.tipjar }}</textarea></dd>
        <dt><label for="hw-sidebar-ad">{{ _('sidebar ad:') }}</label><br><span>(javascript)</span></dt>
        <dd><textarea id="hw-title" name="sidebar_ad" type="text">{{ user.sidebar_ad }}</textarea></dd>
        <dt><label for="hw-newsletter-endpoint">{{ _('newsletter hookup:') }}</label><br><span>{{ _('(signup url)') }}</span></dt>
        <dd><textarea id="hw-newsletter-endpoint" name="newsletter_endpoint" type="text">{{ user.newsletter_endpoint }}</textarea></dd>
        <dt><label for="hw-adult-content">{{ _('adult content:') }}</label></dt>
        <dd><input id="hw-adult-content" name="adult_content" type="checkbox" {% if user.adult_content %}checked="checked"{% end %}></dd>
        <dt></dt>
        <dd><input id="hw-customize-save" class="hw-button hw-button-blue" data-save="{{ _("save") }}" data-saving="{{ _("saving") }}" type="submit" value="{{ _("save") }}"></dd>
      </dl>
    </form>
  </div>
{% end %}

{% block more_sidebar %}
  <aside>
    <a id="hw-delete-account" class="hw-button hw-button-red" href="#deleteAccount" onclick="hw.deleteAccount(event, '{{ user.username }}')">{{ _('delete account') }}</a>
  </aside>
{% end %}
