{% extends "base_backend.html" %}

{% block extra_js %}
  <script src="{{ static_url('js/all_create.js', 'js/all_create.inc') }}"></script>
{% end %}

{% block title %}
  {{ _("Dashboard") }}
{% end %}

{% block backend_content %}
  <div id="hw-create">
    {% module Create(initial_media=initial_media) %}
  </div>

  <div id="hw-absorb">
    <div id="hw-absorb-options">
      <a id="hw-absorb-complete" href="#view-complete" onclick="hw.read(event, null, false)" class="{% if not list_mode %}hw-selected{% end %}">{{ _('complete text') }}</a> |
      <a id="hw-absorb-list" href="#view-list" onclick="hw.read(event, null, true)" class="{% if list_mode %}hw-selected{% end %}">{{ _('list') }}</a>
    </div>
    <div class="clear"></div>
    <article id="hw-feed" class="{% if list_mode %}hw-list-mode{% end %}">
      <a id="hw-feed-page-1"></a>
      {% module ContentView(combined_feed, list_mode=list_mode) %}
    </article>
  </div>

  <script>
    hw.loadMoreObject = new hw.loadMore('{{ nav_url(section='dashboard') }}', {{ offset }}, 'hw-feed');
    hw.setMsg('loading', "{% raw js_escape(_('loading...')) %}");
    Event.observe(window, 'scroll', function() { hw.loadMoreObject.onScroll() }, false);
  </script>
{% end %}

{% block more_tools %}
  <li><a href="#media" onclick="hw.mediaLibrary(event, this)">{{ _('media library') }}</a></li>
{% end %}

{% block more_sidebar %}
  <div id="hw-followers" class="hw-box-orange">
    <h2>{{ _('followers') }}</h2><br>
    <ul>
      {% for follower in followers %}
        <li>
          <a href="{{ follower.profile_url }}" title="{% if follower.name %}{{ follower.name }}{% else %}{{ follower.username }}{% end %}">
            <img height="16" width="16" src="{{ follower.avatar }}" onerror="this.src='{{ static_url('img/pixel.gif') }}';this.style.border='1px solid black';this.style.width='15px';this.style.height='15px'" />
          </a>
        </li>
      {% end %}
    </ul>
  </div>
  <div id="hw-following" class="hw-box-green">
    {% comment TODO to do unfollow maybe drag to a trash? %}
    <h2>{{ _('following') }} <a href="#edit" onclick="hw.followingEdit(event)">[{{ _('edit') }}]</a></h2>
    <div id="hw-following-new-wrapper">
      <input id="hw-following-new" type="text" data-error="{{ _('error subscribing!') }}" data-error-unsub="{{ _('error unsubscribing!') }}">
      <button id="hw-following-button" class="hw-button hw-button-green" onclick="hw.follow(event)" data-normal="{{ _('follow') }}" data-following="{{ _('one sec...') }}">{{ _('follow') }}</button>
      <div class="clear"></div>
    </div>
    <ul data-error="{{ _('Error retrieving feed.') }}">
      <li id="hw-following-read-all" data-user="">
        <a href="#read-all" onclick="hw.read(event, this)">{{ _('read all') }}</a> |
        <a href="#your-feed" onclick="hw.read(event, null)">{{ _('your feed') }}</a> |
        <a href="#spam" onclick="hw.read(event, null, null, true)">{{ _('spam') }}</a>
      </li>
      {% for follower in following %}
        <li data-user="{{ follower.profile_url }}">
          <a href="#read" onclick="hw.read(event, this)" title="{% if follower.name %}{{ follower.name }}{% else %}{{ follower.username }}{% end %}">
            <img height="16" width="16" src="{{ follower.avatar }}" onerror="this.src='{{ static_url('img/pixel.gif') }}';this.style.border='1px solid black';this.style.width='15px';this.style.height='15px'" />
          </a>
          <a href="{{ follower.profile_url }}" class="hw-visit">{{ _('visit') }}</a>
          <a href="#unfollow" onclick="hw.unfollow(event, this)" class="hw-unfollow">{{ _('unfollow') }}</a>
        </li>
      {% end %}
    </ul>
  </div>
{% end %}
