{% extends "base_backend.html" %}

{% block extra_js %}
  <script src="{{ static_url('js/all_create.js', 'js/all_create.inc') }}"></script>
{% end block %}

{% block title %}
  {{ _("Dashboard") }}
{% end %}

{% block backend_content %}
  <div id="hw-create">
    {% module Create(initial_media=initial_media) %}
  </div>

  <div id="hw-absorb">
    <div id="hw-absorb-options">
      <a id="hw-absorb-complete" href="#view-complete" onclick="hw.read(event, null, false)" class="{% if not list_mode %}hw-selected{% end %}">{{ _('complete text') }}</a> |
      <a id="hw-absorb-list" href="#view-list" onclick="hw.read(event, null, true)" class="{% if list_mode %}hw-selected{% end %}">{{ _('list') }}</a>
    </div>
    <div class="clear"></div>
    <article id="hw-feed" class="{% if list_mode %}hw-list-mode{% end %}">
      <a id="hw-feed-page-1"></a>
      {% module ContentView(combined_feed, list_mode=list_mode) %}
    </article>
  </div>

  <script>
    hw.loadMoreObject = new hw.loadMore('{{ nav_url(section='dashboard') }}', {{ offset }}, 'hw-feed');
    hw.setMsg('loading', "{% raw js_escape(_('loading...')) %}");
    Event.observe(window, 'scroll', function() { hw.loadMoreObject.onScroll() }, false);

    Event.observe(window, 'scroll', hw.markAsRead, false);
    Event.observe(window, 'resize', hw.markAsRead, false);

    window.setInterval(hw.sendMarkedAsRead, 3000);
  </script>
{% end %}

{% block more_tools %}
  <li><a href="#media" onclick="hw.mediaLibrary(event, this)">{{ _('media library') }}</a></li>
{% end %}

{% block more_sidebar %}
  <div id="hw-following">
    {% comment TODO to do unfollow maybe drag to a trash? %}
    <h2>{{ _('following') }}</h2>
    <div id="hw-following-new-wrapper">
      <input id="hw-following-new" type="text" data-error="{{ _('error subscribing!') }}" data-error-unsub="{{ _('error unsubscribing!') }}">
      <button id="hw-following-button" type="button" class="hw-button" onclick="hw.follow(event)" data-normal="{{ _('follow') }}" data-following="{{ _('one sec...') }}">{{ _('follow') }}</button>
      <div class="clear"></div>
    </div>
    <ul data-error="{{ _('Error retrieving feed.') }}">
      <li id="hw-following-read-all" data-user="" class="hw-selected">
        <a href="#read-all" onclick="hw.read(event, this)">{{ _('read all') }}</a>
        <span id="hw-total-unread-count" class="hw-unread-count">({{ total_count }})</span>
      </li>
      <li id="hw-following-your-feed" data-user="">
        <a href="#your-feed" onclick="hw.read(event, null)" title="{{ _('your feed') }}">
          <img height="16" width="16" src="{% if user.favicon %}{{ user.favicon }}{% else %}{{ static_url('favicon.ico') }}{% end %}" />
        </a>
        <a href="#your-feed" onclick="hw.read(event, null)">{{ _('your feed') }}</a>
      </li>
      {% for follower in following %}
        {% if follower.name %}
          {% set name = follower.name %}
        {% else %}
          {% set name = follower.username %}
        {% end %}
        <li id="hw-following-{{ follower.id }}" data-user="{{ follower.profile_url }}" draggable="true" ondragstart="hw.followingDragStart(event, this)" ondragover="hw.followingDragOver(event, this)" ondragenter="hw.followingDragOver(event, this)" ondragleave="hw.followingDragLeave(event, this)" ondrop="hw.followingDragDrop(event, this)">
          <a href="#read" onclick="hw.read(event, this)" title="{{ name }}">
            <img height="16" width="16" src="{{ follower.avatar }}" onerror="this.src='{{ static_url('img/pixel.gif') }}';this.style.border='1px solid black';this.style.width='14px';this.style.height='14px'" />
          </a>
          <a href="#read" onclick="hw.read(event, this)" title="{{ name }}" class="hw-following-username">{{ name }}<span class="hw-overflow-shadow"></span></a>
          <span class="hw-unread-count">({{ follower.unread_entries }})</span>
          <span class="hw-button-group">
            <button class="hw-menu-button" onclick="hw.menu(event, this)" type="button">
              <span class="hw-arrow-button"></span>
            </button>
            <div class="hw-menu">
              <a href="{{ follower.profile_url }}" target="_blank" class="hw-visit">{{ _('visit') }}</a>
              <a href="#mark-all-as-read" data-user="{{ follower.profile_url }}" onclick="hw.markAllAsRead(event, this)">{{ _('mark all as read') }}</a>
              <a href="#unfollow" data-user="{{ follower.profile_url }}" onclick="hw.unfollow(event, this)" class="hw-unfollow">{{ _('unfollow') }}</a>
            </div>
          </span>
        </li>
      {% end %}
      <li id="hw-following-spam" data-user="">
        <a href="#spam" onclick="hw.read(event, null, null, true)">{{ _('review spam') }}</a>
        <span class="hw-unread-count">({{ spam_count }})</span>
      </li>
    </ul>
  </div>

  <div id="hw-followers">
    <h2>{{ _('followers') }}</h2><br>
    <ul>
      {% for follower in followers %}
        <li>
          <a href="{{ follower.profile_url }}" title="{% if follower.name %}{{ follower.name }}{% else %}{{ follower.username }}{% end %}">
            <img height="16" width="16" src="{{ follower.avatar }}" onerror="this.src='{{ static_url('img/pixel.gif') }}';this.style.border='1px solid black';this.style.width='15px';this.style.height='15px'" />
          </a>
        </li>
      {% end %}
    </ul>
  </div>
{% end %}
