{% extends "base.html" %}

{% block extra_css %}
  <style>
    body {
      background-color: black;
      color: white;
      margin-top: 10px;
      text-align: center;
    }
    a, a:visited {
      color: #03c;
    }
  </style>
{% end %}

{% block title %}
  {{ _("these aren't the droids you're looking for.") }}
{% end %}

{% block content %}
  <a href="{{ nav_url(username=profile, section='search') }}"><img src="{{ static_url('img/error.jpg') }}" title="HAL"/></a><br>
  <a href="{{ nav_url(username=profile, section='search') }}">{{ _("i'm sorry, dave.  i'm afraid i can't do that.") }}</a>
  {% if status_code == 404 and name %}
    <br><br>
    {{ _("You can try searching the site for other options:") }}<br>
    <form action="{{ nav_url(username=profile, section='search') }}">
      <input name="q" type="text" value="{{ name }}">
      <input type="submit" value="{{ _('search') }}">
    </form>
  {% end %}
{% end %}
