{% extends "base_content.html" %}

{% block user_content %}
  <ul class="hw-forum">
    {% comment NOTE whitespace is important here %}
    {% for index, item in enumerate(collection) %}<li id="hw-collection_{{ item.name }}" class="hw-content-item" data-is-album="{% if item.album == 'main' %}true{% else %}false{% end %}" {% if is_owner_viewing %}draggable="true" ondragstart="hw.dragStart(event, this)" ondragover="hw.dragOver(event, this)" ondragenter="hw.dragOver(event, this)" ondragleave="hw.dragLeave(event, this)" ondrop="hw.dragDrop(event, this)"{% end %}>
      {% if is_owner_viewing %}
      <span class="hw-button hw-button-delete hw-content-delete" data-contenturl="{{ content_url(item) }}" onclick="hw.deleteContentViaCollection(event, this)">x</span>
      {% end %}
      <a class="hw-content-title {% if is_owner_viewing and item.hidden %}hw-content-hidden{% end %}" href="{{ content_url(item) }}" title="{{ item.title }}" data-contentname="{{ item.name }}" onclick="hw.albumClick(event, this)">{{ item.title }}</a>
    </li>{% end %}
  </ul>
{% end %}
