{% extends "base_content.html" %}

{% block user_content %}
  <script>
    {% comment  delay loading of thumbs for quicker page loads %}
    if (document.documentElement["getBoundingClientRect"]) {
      Event.observe(window, 'scroll', hw.thumbnailDelayLoad.loadImages, false);
      Event.observe(window, 'resize', hw.thumbnailDelayLoad.loadImages, false);
    }
  </script>

  <ul class="hw-album">
    {% comment NOTE whitespace is important here %}
    {% for index, link in enumerate(collection) %}<li id="hw-collection|{{ link.name }}" class="hw-content-item" {% if is_owner_viewing %}draggable="true" ondragstart="hw.dragStart(event, this)" ondragover="hw.dragOver(event, this)" ondragenter="hw.dragOver(event, this)" ondragleave="hw.dragLeave(event, this)" ondrop="hw.dragDrop(event, this)" data-is-album="{% if link.album == 'main' %}true{% else %}false{% end %}"{% end %}>
        {% if is_owner_viewing %}
        <span class="hw-button hw-button-red" name="hw-content-delete" data-contenturl="{{ content_url(link) }}" onclick="hw.deleteContentViaCollection(event, this)">x</span>
        {% end %}
        <a href="{% if link.album == 'main' %}{{ content_url(link) }}{% else %}{{ link.view }}{% end %}" title="{{ link.title }}" data-contentname="{{ link.name }}" {% if is_owner_viewing %}onclick="hw.editContent(event, this)"{% end %}><img src="{{ static_url('img/pixel.gif') }}" onload="hw.thumbnailDelayLoad.transition(this)" class="hw-invisible hw-invisible-slow-transition" data-thumb="{{ link.thumb }}"/></a><br/>
        <a class="hw-content-title {% if is_owner_viewing and link.hidden %}hw-content-hidden{% end %}" href="{% if link.album == 'main' %}{{ content_url(link) }}{% else %}{{ link.view }}{% end %}" title="{{ link.title }}" data-contentname="{{ link.name }}" {% if is_owner_viewing %}onclick="hw.editContent(event, this)"{% end %}>{{ link.title }}</a>
        {% if index == 20 %}
          {# Let's get some photos going, might be a big page #}
          <script>
            hw.thumbnailDelayLoad.loadImages();
          </script>
        {% end %}
      </li>{% end %}
  </ul>

  <script>
    hw.thumbnailDelayLoad.loadImages();
  </script>  
{% end %}
