{% extends "base.html" %}

{% block extra_css %}
<link id="hw-stylesheet-create" rel="stylesheet" type="text/css" href="{{ static_url('css/create.css') }}">
{% if user.theme %}
  <link id="hw-stylesheet-create-theme" rel="stylesheet" type="text/css" href="{{ static_url(user.theme) }}">
{% else %}
  <link id="hw-stylesheet-create-theme" rel="stylesheet" type="text/css" href="{{ static_url('css/themes/default.css') }}">
{% end %}
<style>
  form.hw-create {
    padding: 1em;
  }
</style>
{% end %}

{% block extra_js %}
  <script src="{{ static_url('js/all_create.js', 'js/all_create.inc') }}"></script>
  <script>
    hw.setMsg('error', "{% raw js_escape(_('no good, mate.')) %}");
    hw.setMsg('saved', "{% raw js_escape(_('saved!')) %}");
    hw.xsrf = '{% raw xsrf_form_html() %}';
    hw.uploadUrl = '{{ nav_url(section='upload') }}';

    hw.setMsg('confirm-delete', "{% raw js_escape(_('ya sure there, buddy?')) %}");
    hw.mediaEmbedded = {% if embedded %}true{% else %}false{% end %};
    {% if uploaded_file %}
      var mediaSelect = function() {
        hw.mediaSelect(null, null, '{{ uploaded_file }}');
      }
      Event.observe(window, 'load', mediaSelect, false);
    {% end %}
  </script>
{% end %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="hw-create hw-media-library-standalone">
    {% raw xsrf_form_html() %}
    {% include 'media.html' %}
  </div>
{% end %}

{% block nav %}
{% end %}
