<header>
  <h1>{{ _('media library') }}</h1>
</header>

<div name="hw-file-list">
  <h2>{{ _('files:') }}</h2>
  <input name="hw-media-directory" type="hidden" value="{% if initial_section %}{{ initial_section }}{% end %}">
  {% for index, file in enumerate(files) %}
    <select multiple name="hw-files-{{ resource_url(filename=file[0]).replace('/', '-') }}" size="11" class="{% if (not initial_section and index != 0) or (initial_section is not None and initial_section != basename(file[0])) %}hw-closed{% elif (not initial_section or initial_section == basename(file[0])) %}hw-open{% end %}" ondblclick="hw.mediaSelect(null, this)" onchange="hw.mediaPreview(this)">
      {% if index != 0 %}
        <option value="{{ resource_url(filename=dirname(file[0])) }}" data-directory title="{{ basename(dirname(file[0])) }}">&uarr; {{ basename(dirname(file[0])) }}</option>
      {% end %}
      {{ file[1].sort() }}
      {% for dir in file[1] %}
        <option value="{{ resource_url(filename=join(file[0], dir)) }}" data-directory title="{{ dir }}">&rarr; {{ dir }}</option>
      {% end %}
      {{ file[2].sort() }}
      {% for f in file[2] %}
        <option value="{{ resource_url(filename=join(file[0], f)) }}" title="{{ f }}">{{ f }}</option>
      {% end %}
    </select>
  {% end %}
</div>

<div name="hw-preview-wrapper">
  <h2>{{ _('preview:') }}</h2>
  <div name="hw-preview"></div>
</div>

<div class="clear"></div>
<br>
<button name="hw-media-delete" class="hw-button hw-button-red" onclick="hw.mediaDelete(event, this.form)">{{ _('delete') }}</button>
<button name="hw-media-select" class="hw-button hw-button-blue" onclick="hw.mediaSelect(event)">{{ _('select') }}</button>
{% if standalone or embedded %}
<input name="hw-media-uploaded-file" type="file" multiple value="{{ _("Upload file") }}" onchange="hw.mediaUpload(this.form)"> 
{% end %}
<progress name="hw-media-file-progress" value="0" max="100" class="hw-hidden">0%</progress>
<span name="hw-media-file-failed" class="hw-hidden">{{ _('failed!') }}</span>
