{% extends "base.html" %}

{% block extra_css %}
<link id="hw-stylesheet-create" rel="stylesheet" type="text/css" href="{{ static_url('css/create.css') }}">
<style>
  form[name=hw-create] {
    padding: 1em;
    {% if standalone %}margin: 1em;{% end %}
  }
</style>
{% end %}

{% block extra_js %}
  <script src="{{ static_url('js/all_create.js', ['js/create.js', 'js/wysiwyg.js', 'js/media.js', 'js/image_editor.js', 'js/dragdrop.js', 'js/moderate.js', 'js/CodeMirror2/lib/codemirror.js', 'js/CodeMirror2/mode/xml/xml.js', 'js/CodeMirror2/mode/javascript/javascript.js', 'js/CodeMirror2/mode/css/css.js', 'js/CodeMirror2/mode/htmlmixed/htmlmixed.js', 'js/pixastic/pixastic.core.js', 'js/pixastic/actions/brightness.js', 'js/pixastic/actions/crop.js', 'js/pixastic/actions/resize.js', 'js/pixastic/actions/rotate.js']) }}"></script>
  <script>
    hw.setMsg('confirm-delete', "{% raw js_escape(_('ya sure there, buddy?')) %}");
    hw.mediaEmbedded = {% if embedded %}true{% else %}false{% end %};
    hw.mediaStandalone = {% if standalone %}true{% else %}false{% end %};
    {% if uploaded_file %}
      var mediaSelect = function() {
        hw.mediaSelect(null, null, '{{ uploaded_file }}');
      }
      {% if standalone %}
        mediaSelect();
      {% else %}
        Event.observe(window, 'load', mediaSelect, false);
      {% end %}
    {% end %}
  </script>
{% end %}

{% block content %}
  <form name="hw-create" method="post" enctype="multipart/form-data" class="hw-media-library-standalone hw-box-orange">
    {% raw xsrf_form_html() %}
    {% include 'media.html' %}
  </div>
{% end %}

{% block nav %}
{% end %}
