{% extends "base.html" %}

{% block title %}
  {{ _("Search") }}
{% end %}

{% block content %}
  <article id="hw-content">
    <header>
      <h1>{{ _("search results.") }}</h1>
    </header>
    <ol id="hw-results">
      {% for item in results %}
      <li>
        {% if item.thumb %}
          <a class="hw-results-image" href="{{ content_url(item) }}">
            <img src="{{ item.thumb }}">
          </a>
        {% end %}
        <div class="hw-results-info">
          <a href="{{ content_url(item) }}" class="hw-results-title">
            {% if item.title %}
              {{ item.title }}
            {% else %}
              {{ _('untitled') }}
            {% end %}
          </a>
          <div class="hw-results-text">
            {{ ellipsize(strip_html(item.view), 130) }}
          </div>
        </div>
      </li>
      {% end %}
    </ol>

    <div class="clear"></div>

    {% if len(results) == 0 %}
      {{ _('no results found.') }}
    {% else %}
      <div class="hw-pager">
        {% if len(results) == page_size %}
          <a class="hw-button hw-button-pager hw-next"
             href="{{ nav_url(username=content_owner.username,
                section='search', page=(page + 1), q=query) }}">
            {{ _('next') }}
          </a>
        {% end %}
        {% if page != 1 %}
          <a class="hw-button hw-button-pager hw-prev"
             href="{{ nav_url(username=content_owner.username,
                section='search', page=(page - 1 if page != 2 else None),
                q=query) }}">
            {{ _('previous') }}
          </a>
        {% end %}
      </div>
    {% end %}
  </article>

  {% module SiteMap(content_owner=content_owner, query=query) %}
{% end %}
