{% extends "base.html" %}

{% block nav %}{% end %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/dashboard.css') }}" />
  <link id="hw-stylesheet-theme" rel="stylesheet" type="text/css" href="{{ static_url('css/themes/pixel/_compiled_pixel.css') }}">
  <style>
    body {
      text-align: center;
    }
  </style>
{% end %}

{% block extra_js %}
  <script src="{{ static_url('js/setup.js') }}"></script>
  <script>
    hw.setMsg('failed', "{% raw js_escape(_("no good, mate.")) %}");
  </script>
{% end %}

{% block title %}
  {{ _('setup') }}
{% end %}

{% block content %}
  <div id="hw-setup">
    <h1>{{ _('Setup Site') }}</h1>
    <form id="hw-setup-form" method="post" action="{{ prefix }}/" onsubmit="return false;">
      <dl>
        <input name="prefix" type="hidden" value="{{ prefix }}">

        <dt><label for="hw-username">{{ _('site username:') }}</label></dt>
        <dd><input id="hw-username" required name="username" type="text" placeholder="{{ _('username') }}"></dd>
        <dt><label for="hw-email">{{ _('email:') }}</label></dt>
        <dd><input id="hw-email" required name="email" type="text" placeholder="{{ _('email') }}"></dd>
        <dt><label for="hw-host">{{ _('host:') }}</label></dt>
        <dd><input id="hw-host" required name="mysql_host" type="text" value="127.0.0.1"></dd>
        <dt><label for="hw-database">{{ _('database:') }}</label></dt>
        <dd><input id="hw-database" required name="mysql_database" type="text" value="helloworld"></dd>
        <dt><label for="hw-mysqluser">{{ _('user:') }}</label></dt>
        <dd><input id="hw-mysqluser" required name="mysql_user" type="text" placeholder="{{ _('user') }}"></dd>
        <dt><label for="hw-title">{{ _('password:') }}</label></dt>
        <dd><input id="hw-password" required name="mysql_password" type="password" placeholder="{{ _('password') }}"></dd>
        <dt></dt>
        <dd><input id="hw-setup-save" class="hw-button hw-button-save" type="button" onclick="hw.setup()" value="{{ _("setup!") }}"></dd>
      </dl>
    </form>
  </div>
{% end %}
