{% if mode == 'button' %}
  <button type="button" data-content-id="{{ item.id }}" data-content-url="{{content_url(item)  }}" data-content-title="{{ item.title }}" data-content-thumb="{{ item.thumb }}" data-content-price="{{ item.price }}" onclick="hw.addToCart(this)">
    <strong>
      {% if item.price %}
        {% if not content_owner.currency or content_owner.currency == 'USD' %}${% end %}{{ "%.2f" % item.price }}
        {% if content_owner.currency and content_owner.currency != 'USD' %}{{ content_owner.currency }}{% end %}
      {% else %}
        {{ _('free!') }}
      {% end %}
    </strong>
    {{ _('add to cart') }}
  </button>
{% elif mode == 'checkout' %}
  <button id="hw-checkout" type="button" onclick="hw.viewCart()">{{ _('view cart') }} [<span id="hw-cart-item-count">0</span>]</button>
  <div id="hw-cart-wrapper" class="hw-hidden">
    <a href="#close" onclick="hw.checkoutClose(event)" id="hw-cart-close">[x]</a>
    <div id="hw-cart-template" class="hw-hidden">
      <div class="hw-cart-item">
        <a href="$url" class="hw-cart-thumb">
          <img $thumb/>
        </a>
        <a href="$url" class="hw-cart-title">$title</a>
        <strong>
          {% if not content_owner.currency or content_owner.currency == 'USD' %}${% end %}$price
          {% if content_owner.currency and content_owner.currency != 'USD' %}{{ content_owner.currency }}{% end %}
        </strong>
        <span>x<input type="number" min="0" step="1" value="$quantity" data-cart-id="$id" onchange="hw.updateCartQuantity(this)"></span>
      </div>
    </div>
    <div id="hw-cart"></div>
    <button type="button" onclick="hw.clearCart()">{{ _('clear cart') }}</button>
    <div id="hw-cart-checkout">
      <strong id="hw-cart-total-wrapper">
        {{ _("Total:") }}
        {% if not content_owner.currency or content_owner.currency == 'USD' %}${% end %}<span id="hw-cart-total"></span>
        {% if content_owner.currency and content_owner.currency != 'USD' %}{{ content_owner.currency }}{% end %}
      </strong>
      <button type="button" onclick='hw.checkoutPaypal("{% raw js_in_html_escape(content_owner.email) %}", "{% raw js_in_html_escape(content_owner.currency) %}")'>{{ _('checkout with paypal') }}</button>
      <button type="button" onclick='hw.checkoutBarter("{% raw js_in_html_escape(content_owner.email) %}", "{% raw js_in_html_escape(_("Hello, I'd like to make a barter!")) %}")'>{{ _('checkout via email/barter') }}</button>
    </div>
  </div>
{% end %}
