<!DOCTYPE html>
<html lang="en">
  <form name="hw-uploaded" style="display:none">
    <input name="hw-media-success" type="hidden" value="{% if success %}1{% else %}0{% end %}">
    <input name="hw-media-title" type="hidden" value="{{ title }}">
    <input name="hw-media-html" type="hidden" value="{{ html }}">
    <input name="hw-media-thumb" type="hidden" value="{{ thumb }}">
  </form>
  <div style="background-color: #0c9; padding: 0.5em; font-size: 2em; margin-top: 0.5em">{{ _('created!') }}</div>
</html>
