/**
 * Pixel theme for Hello, world.
 *
 * theme: pixel (http://nightlight.rocks)
 * designed_by: nightlight (http://nightlight.rocks)
 */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=block');

body {
  font-size: 13px;
  background: #111;
  color: #fff;
}

h1 {
  font-family: 'Press Start 2P', monospace;
}

input::placeholder {
  color: #fff;
}

#hw-sitemap {
  border-right: 1px solid #0cf;
}

#hw-content > header > h1 {
  padding: 5px;
  font-size: 14px;
}

#hw-content > header > h1 {
  margin: 3px 3px 3px 0;
}

a,
a:hover {
  text-decoration: none;
}

.hw-last,
.hw-last:visited {
  border: 1px solid #0cf;
  color: #06f;
}
.hw-last:hover {
  border: 1px solid #06f;
  color: #06f;
}

.hw-next,
.hw-next:visited {
  border: 1px solid #f90;
  color: #f90;
}
.hw-next:hover {
  border: 1px solid #f30;
  color: #f90;
}

.hw-prev,
.hw-prev:visited {
  border: 1px solid #f60;
  color: #f60;
}
.hw-prev:hover {
  border: 1px solid #f00;
  color: #f60;
}

.hw-first,
.hw-first:visited {
  border: 1px solid #f0f;
  color: #f0f;
}
.hw-first:hover {
  border: 1px solid #60f;
  color: #f0f;
}

@media only screen and (max-width: 600px) {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer {
    display: none;
  }

  html .hw-sitemap-hamburger {
    display: block !important;
    position: absolute;
    top: -4px;
    left: -6px;
    color: #fff;
    z-index: 1;
  }

  #hw-sitemap.hw-sitemap-open {
    display: block;
    position: fixed;
    top: 32px;
    bottom: 0;
    z-index: 2;
    overflow: scroll;
    background: #fff;
  }

  #hw-content article > nav {
    text-align: right;
  }
  #hw-content article > nav,
  #hw-content article > nav > .hw-button {
    float: none;
  }

  article > .hw-item:first-child > header:first-child {
    margin-top: 32px;
  }

  .hw-item > header:first-child {
    width: auto;
    max-width: calc(100vw - 20px);
  }

  .hw-item {
    width: calc(100vw - 20px);
  }

  .hw-item figure img {
    max-width: calc(82vw - 20px);
  }
}

#hw-content:fullscreen #hw-sitemap,
#hw-content:fullscreen > header,
#hw-content:fullscreen > footer,
#hw-content:fullscreen .hw-item footer,
#hw-content:fullscreen article > nav {
  display: none;
}

#hw-content:fullscreen {
  background-color: black;
  text-align: center;
}

#hw-content:fullscreen .hw-item {
  width: 100vw;
}

#hw-content:fullscreen .hw-item header {
  display: inline-block;
}

@media print {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer,
  html .hw-sitemap-hamburger,
  #hw-content article > nav {
    display: none;
  }

  html figure {
    text-align: left;
  }
}
