/**
 * Pixel theme for Hello, world.
 *
 * theme: pixel (http://nite-lite.net)
 * designed_by: nightlight (http://nite-lite.net)
 *
 */

body {
  font-size: 13px;
}

#hw-sitemap {
  border-right: 1px solid #0cf;
}

#hw-content .DraftEditor-root,
#hw-content .ReactCodeMirror {
  width: 650px;
}

#hw-dashboard .DraftEditor-root,
#hw-comment-editor .DraftEditor-root,
#hw-dashboard .ReactCodeMirror {
  border: 1px solid #000;
  box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
}

#hw-dashboard .DraftEditor-root,
#hw-dashboard .ReactCodeMirror {
  width: 66vw;
  margin-bottom: 20px;
}

#hw-dashboard .DraftEditor-root,
#hw-dashboard .public-DraftEditor-content,
#hw-dashboard .DraftEditor-editorContainer,
#hw-dashboard .ReactCodeMirror {
  min-height: 33vh;
}

#hw-content > header > h1 {
  padding: 5px;
  font-size: 14px;
}

#hw-content > header > h1 {
  margin: 3px 3px 3px 0;
}

a.hw-button {
  text-decoration: line-through;
}
a.hw-button[href],
a.hw-button[href]:hover {
  text-decoration: none;
}

.hw-button,
.hw-button:visited {
  margin: 0 3px 6px 3px;
  display: inline-block;
  transition: all 0.03s linear 0.1s;
  float: left;
  cursor: pointer;
  padding: 0 7px;
  line-height: 1.5;
  background-color: #eff;
  border: 1px solid #0c0;
  border-radius: 3px;
  color: #060;
  text-shadow: 0 1px 0 #fff;
  user-select: none;
}
.hw-button:hover {
  border: 1px solid #060;
  color: #060;
}

.hw-save {
  float: none;
  align-self: flex-end;
}

button.hw-edit {
  border: 1px solid #0c0;
}

.hw-edit.hw-button.hw-selected {
  margin-top: 1px;
  margin-bottom: 1px;
}

.hw-last,
.hw-last:visited {
  background-color: #eff;
  border: 1px solid #0cf;
  color: #06f;
}
.hw-last:hover {
  border: 1px solid #06f;
  color: #06f;
}

.hw-delete,
.hw-delete:visited,
.hw-next,
.hw-next:visited {
  background-color: #ffe;
  border: 1px solid #f90;
  color: #f30;
}
.hw-delete:hover,
.hw-next:hover {
  border: 1px solid #f30;
  color: #f30;
}

.hw-prev,
.hw-prev:visited {
  background-color: #fcfcfc;
  border: 1px solid #f60;
  color: #f30;
}
.hw-prev:hover {
  border: 1px solid #f00;
  color: #f30;
}

.hw-first,
.hw-first:visited {
  background-color: #fef;
  border: 1px solid #f0f;
  color: #90f;
}
.hw-first:hover {
  border: 1px solid #60f;
  color: #90f;
}

@media only screen and (max-width: 600px) {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer {
    display: none;
  }

  html .hw-sitemap-hamburger {
    display: block !important;
    position: absolute;
    top: -4px;
    left: -6px;
  }

  #hw-sitemap.hw-sitemap-open {
    display: block;
    position: fixed;
    top: 32px;
    bottom: 0;
    z-index: 2;
    overflow: scroll;
    background: #fff;
  }

  #hw-content article > nav {
    text-align: right;
  }
  #hw-content article > nav,
  #hw-content article > nav > .hw-button {
    float: none;
  }

  article > .hw-item:first-child > header:first-child {
    margin-top: 32px;
  }

  .hw-item > header:first-child {
    width: auto;
    max-width: calc(100vw - 20px);
  }

  #hw-content .DraftEditor-root,
  .hw-item {
    width: calc(100vw - 20px);
  }

  .hw-item figure img {
    max-width: calc(82vw - 20px);
  }

  .hw-button.hw-selected,
  .hw-button:active,
  .hw-button[disabled] {
    margin-top: 0;
  }
}

#hw-content:fullscreen #hw-sitemap,
#hw-content:fullscreen > header,
#hw-content:fullscreen > footer,
#hw-content:fullscreen .hw-item footer,
#hw-content:fullscreen article > nav {
  display: none;
}

#hw-content:fullscreen {
  background-color: black;
  text-align: center;
}

#hw-content:fullscreen .hw-item {
  width: 100vw;
}

#hw-content:fullscreen .hw-item header {
  display: inline-block;
}

@media print {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer,
  html .hw-sitemap-hamburger,
  #hw-content article > nav {
    display: none;
  }

  html figure {
    text-align: left;
  }
}