/**
 * Pixel theme for Hello, world.
 *
 * theme: pixel (http://nite-lite.net)
 * designed_by: nightlight (http://nite-lite.net)
 *
 */

body {
  font-size: 13px;
}

#hw-sitemap {
  border: 1px solid #0cf;
  box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf;
}

.hw-item,
#hw-content .DraftEditor-root {
  width: 650px;
}

#hw-dashboard .DraftEditor-root {
  width: 66vw;
  border: 1px solid #000;
  box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
  margin-bottom: 20px;
}

#hw-dashboard .DraftEditor-root,
#hw-dashboard .public-DraftEditor-content,
#hw-dashboard .DraftEditor-editorContainer {
  min-height: 33vh;
}

#hw-content > header > h1 {
  padding: 5px;
  font-size: 14px;
}

#hw-content > header,
.hw-item > header:first-child {
  border: 1px solid #fa0;
  box-shadow: 1px 1px 0 #fa0, 2px 2px 0 #fa0, 3px 3px 0 #fa0;
}

.hw-button {
  padding: 1px 7px;
  margin: 0 3px 6px 3px;
  display: inline-block;
  transition: all 0.03s linear 0.1s;
  cursor: hand;
  cursor: pointer;
  border-radius: 3px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  border-bottom-color: #aaa;
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  box-shadow: inset 0 0 1px #fff;
  user-select: none;
}
.hw-button:hover {
  border-color: #999;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}
.hw-button:active,
.hw-button.hw-selected {
  border-color: #aaa;
  border-bottom-color:#ccc;
  border-top-color: #999;
  background-image: linear-gradient(to bottom, #e6e6e6 0, #dcdcdc 100%);
}
a.hw-button {
  text-decoration: line-through;
}
a.hw-button[href],
a.hw-button[href]:hover {
  text-decoration: none;
}

.hw-button,
.hw-button:visited {
  float: left;
  padding: 0 7px;
  background-color: #eff;
  border: 1px solid #0c0;
  color: #060;
  box-shadow: 1px 1px #0c0, 2px 2px #0c0, 3px 3px #0c0, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-button:hover {
  border: 1px solid #090;
  color: #060;
  box-shadow: 1px 1px #090, 2px 2px #090, 3px 3px #090, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

.hw-button.hw-selected,
.hw-button:active,
.hw-button[disabled] {
  box-shadow: 1px 1px #333, 1px 0px #333, 0px 1px #333 !important;
  margin-top: 3px;
  margin-left: 6px;
  margin-right: 0;
  margin-bottom: 3px;
}

.hw-edit.hw-button.hw-selected {
  margin-top: 1px;
  margin-bottom: 1px;
}

.hw-last,
.hw-last:visited {
  background-color: #eff;
  border: 1px solid #0cf;
  color: #06f;
  box-shadow: 1px 1px #0cf, 2px 2px #0cf, 3px 3px #0cf, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-last:hover {
  border: 1px solid #09f;
  color: #06f;
  box-shadow: 1px 1px #09f, 2px 2px #09f, 3px 3px #09f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

.hw-next,
.hw-next:visited {
  background-color: #ffe;
  border: 1px solid #f90;
  color: #f30;
  box-shadow: 1px 1px #f90, 2px 2px #f90, 3px 3px #f90, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-next:hover {
  border: 1px solid #f60;
  color: #f30;
  box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

.hw-previous,
.hw-previous:visited {
  background-color: #fcfcfc;
  border: 1px solid #f60;
  color: #f30;
  box-shadow: 1px 1px #f60, 2px 2px #f60, 3px 3px #f60, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-previous:hover {
  border: 1px solid #f30;
  color: #f30;
  box-shadow: 1px 1px #f30, 2px 2px #f30, 3px 3px #f30, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

.hw-start,
.hw-start:visited {
  background-color: #fef;
  border: 1px solid #c0f;
  color: #90f;
  box-shadow: 1px 1px #c0f, 2px 2px #c0f, 3px 3px #c0f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}
.hw-start:hover {
  border: 1px solid #90f;
  color: #90f;
  box-shadow: 1px 1px #90f, 2px 2px #90f, 3px 3px #90f, 4px 4px #333, 4px 3px #333, 3px 4px #333;
}

@media only screen and (max-width: 600px) {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer {
    display: none;
  }

  html .hw-sitemap-hamburger {
    display: block !important;
    position: absolute;
    top: -4px;
    left: -6px;
  }

  #hw-sitemap.hw-sitemap-open {
    display: block;
    position: fixed;
    top: 32px;
    bottom: 0;
    z-index: 1;
    overflow: scroll;
    background: #fff;
  }

  #hw-content article > nav {
    text-align: right;
  }
  #hw-content article > nav,
  #hw-content article > nav > .hw-button {
    float: none;
  }

  .hw-item > header:first-child {
    width: auto;
    max-width: cacl(100vw - 20px);
  }

  .hw-item {
    width: auto;
  }

  .hw-item figure img {
    max-width: calc(100vw - 20px);
  }

  .hw-button.hw-selected,
  .hw-button:active,
  .hw-button[disabled] {
    margin-top: 0;
  }
}

#hw-content:fullscreen #hw-sitemap,
#hw-content:fullscreen > header,
#hw-content:fullscreen > footer,
#hw-content:fullscreen .hw-item footer,
#hw-content:fullscreen article > nav {
  display: none;
}

#hw-content:fullscreen {
  background-color: black;
  text-align: center;
}

#hw-content:fullscreen .hw-item {
  width: 100vw;
}

#hw-content:fullscreen .hw-item header {
  display: inline-block;
}

@media print {
  #hw-sitemap,
  .App > header,
  .App > footer,
  .App-main footer,
  html .hw-sitemap-hamburger,
  #hw-content article > nav {
    display: none;
  }

  html figure {
    text-align: left;
  }
}