.message {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emoji,
.emojiSpin {
  font-size: 128px;
  height: 128px;
  width: 128px;
  line-height: 140px;
}

.emojiSpin {
  animation: spin 3s linear 1 1.5s forwards;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

.errorBoundary {
  border: 3px double #f00;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-weight: 400;
  color: #f00;
}
