@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

::selection {
  background-color: oklch(51.64% 0.188 257.723);
  color: #fff;
}

a:any-link {
  color: #3984ff;
  text-decoration: none;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

@media print {
  body {
    background-color: #fff;
  }
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

:where(code, kbd, samp) {
  font-size: 1rem;
}

/* In development, highlight untranslated strings. */
.App-is-development *:not(.notranslate) {
  text-shadow: 3px 3px red;
}

.App-is-development .notranslate,
.App-is-development .notranslate *,
.App-is-development .i18n-msg,
.App-is-development .i18n-msg * {
  text-shadow: none;
}

html lite-youtube {
  max-width: 100%;
  height: 270px;
  aspect-ratio: 16 / 9;
}

html lite-youtube.lyt-activated {
  background-image: none !important;
}

html lite-youtube > .lty-playbtn {
  filter: grayscale(100%);
}
